.container {
    padding: 0 30px;
}
.blog-detail-section {
    margin: 100px 0 140px;
}
.blog-detail-section .blog-header {
    margin-bottom: 20px;
}
.blog-detail-section .blog-header .main-heading {
    width: 100%;
    max-width: 1050px;
    margin-bottom: 16px;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    text-transform: capitalize;
}
.blog-detail-section .blog-header .date-and-link-wrap .link-wrap .cdk-btn-white span,
.blog-detail-section .blog-header .date-and-link-wrap .link-wrap .cdk-btn-white span svg {
    display: block;
    margin-right: 5px;
}
.blog-detail-section .blog-image-inner-wrap{
    border-radius: 10px;
    margin-bottom: 70px;
}
.blog-detail-section .blog-image-inner-wrap img {
    display: block;
    border-radius: 10px;
}
.blog-detail-section .blog-image-inner-wrap img.desktop {
    display: block;
}
.blog-detail-section .blog-image-inner-wrap img.mobile {
    display: none;
}
.blog-detail-section .blog-body-and-newsletter {
    position: relative;
    column-gap: 30px;
}
.blog-detail-section .blog-body-and-newsletter .rte-blog-body {
    width: 100%;
    max-width: 854px;
}
.blog-detail-section .blog-body-and-newsletter .rte-blog-body h3 {
    color: #FFF;
    font-family: var(--main-heading-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    display: list-item;
    list-style-type: auto;
    margin-left: 30px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.blog-detail-section .blog-body-and-newsletter .rte-blog-body p {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-left: 40px;
}
.blog-detail-section .blog-body-and-newsletter .rte-blog-body p:not(:last-child) {
    margin-bottom: 40px;
}
.blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap {
    width: 100%;
    max-width: 435px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    position: sticky;
    top: 50px;
}
.blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container {
    padding: 67px 41px;
}
.blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container .news-heading {
    color: #000;
    font-family: var(--main-heading-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    text-transform: capitalize;
}
.blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container .news-text {
    color: #000;
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin: 15px 0 23px;
    max-width: 335px;
    width: 100%;
}
.blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container form input#news {
    width: 100%;
    height: 50px;
    border: 1px solid #37C8AE;
    border-radius: 5px;
    padding-left: 21px;
    color: #2B3D51;
    /* font-family: Barlow Condensed; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container form button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #37C8AE;
    color: #000;
    text-align: center;
    font-family: var(--second-heading);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
}
.blogs-section .our_work_all_wrap .service-header {
    margin-bottom: 60px;
}
.blogs-section .our_work_all_wrap .service-header .service-button {
    padding-right: 20px;
}
.blogs-section .our_work_all_wrap .service-header .service-titel .blog-service-title {
    color: #FFF;
    font-family: var(--main-heading-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    text-transform: capitalize;
}

@media only screen and (min-width:992px) and (max-width:1024px) {
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap {
        max-width: 335px;
    }
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container {
        padding: 30px 20px;
    }
}
@media only screen and (max-width:991px) {
    .blog-detail-section .blog-body-and-newsletter {
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 65px;
    }
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap {
        max-width: 600px;
        position: unset;
    }
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container .news-text {
        max-width: unset;
    }
    .blog-detail-section {
        margin: 70px 0 100px;
    }
    .blog-detail-section .blog-header .main-heading {
        font-size: 45px;
    }
}
@media only screen and (max-width:767px) {
    .container {
        padding: 0 20px;
    }
    .blog-detail-section {
        margin: 70px 0 55px;
    }
    .blogs-section .our_work_all_wrap .service-header .service-button {
        padding-right: 0px;
    }
    .blog-detail-section .blog-header .main-heading {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    .blog-detail-section .blog-header .date-and-link-wrap .date-wrap .green-text {
        font-size: 18px;
        line-height: 25px;
    }
    .blog-detail-section .blog-header .date-and-link-wrap .link-wrap .cdk-btn-white {
        width: 120px;
        height: 45px;
        font-size: 14px;
        line-height: 15px;
    }
    .blog-detail-section .blog-header .date-and-link-wrap .link-wrap .cdk-btn-white span svg {
        width: 14.5px;
        height: 14.5px;
    }
    .blog-detail-section .blog-header {
        margin-bottom: 30px;
    }
    .blog-detail-section .blog-image-inner-wrap {
        margin-bottom: 45px;
    }
    .blog-detail-section .blog-body-and-newsletter .rte-blog-body h3 {
        padding-left: 2px;
        margin-bottom: 12px;
        font-size: 22px;
        line-height: 27px;
    }
    .blog-detail-section .blog-body-and-newsletter .rte-blog-body p {
        margin-left: 32px;
        font-size: 16px;
        line-height: 25px;
    }
    .blog-detail-section .blog-body-and-newsletter .rte-blog-body p:not(:last-child) {
        margin-bottom: 20px;
    }
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container {
        padding: 50px 20px;
    }
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container .news-heading {
        font-size: 25px;
        line-height: 27px;
    }
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container .news-text {
        font-size: 16px;
        line-height: 25px;
        margin: 12px 0 25px;
    }
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container form input#news {
        height: 45px;
        border-radius: 10px;
        font-size: 16px;
    }
    .blog-detail-section .blog-body-and-newsletter .blog-newslwtter-wrap .news-container form button {
        height: 45px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 400;
        margin-top: 15px;
    }
    .blog-detail-section .blog-image-inner-wrap img.desktop {
        display: none;
    }
    .blog-detail-section .blog-image-inner-wrap img.mobile {
        display: block;
    }
    .blogs-section {
        padding: 0px 0 70px;
    }
    .blogs-section .our_work_all_wrap .service-header {
        align-items: flex-end;
        margin-bottom: 30px;
    }
    .blogs-section .our_work_all_wrap .service-header .service-titel .blog-service-title {
        font-size: 20px;
    }
    .blogs-section .our_work_all_wrap .service-header .service-button .cdk-btn-transparent {
        width: 120px;
        height: 45px;
        font-size: 15px;
        font-weight: 400;
    }
}