/* header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 8;
} */
header.sticky {
    position: sticky;
    top: -1px;
    z-index: 9;
    /* background-color: #040A17; */
    background: linear-gradient(108deg, rgb(12, 55, 48) -50%, #000 99.21%);
    width: 100%;
    transition: all 0.3s ease;
    
    animation: header-anim .2s ease .027s both;
}
@keyframes header-anim {
    0% {
        transform: translate3d(0, -100px, 0);
    }
    100% {
        transform: translate3d(0, 0px, 0);
    }
}
.main-header-wrap,
.menu-wrap,
.menu-ul {
    justify-content: space-between;
}
.main-header-wrap {
    padding: 0 30px;
}
.logo-wrap {
    width: 100%;
    padding: 23px 0 22px 0;
    max-width: 220px;
}
.logo-wrap a img {
    max-width: 220px;
    display: block;
}
.menu-ul {
    width: 100%;
    max-width: 354px;
}
.menu-ul li {
    list-style: none;
    margin-right: 30px;
}
.menu-ul li a {
    text-decoration: none;
    color: #fff;
    font-family: var(--second-heading);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.02em;
}
.menu-ul li a.active {
    color: #37C8AE;
}
.bnt-wrap {
    margin-left: 30px;
}
#toggle {
    width: 29px;
    height: 25px;
}
    #toggle div {
    width: 70%;
    height: 2px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
}
#toggle.on .one {
    transform: rotate(45deg) translate(4.5px, 5px);
}
#toggle.on .two {
    opacity: 0;
}
#toggle div.two {
    width: 45%;
    margin-left: auto;
    margin-right: 4px;
}
#toggle.on .three {
    transform: rotate(-45deg) translate(4px, -4px);
}
#menu {
    display: none;
}
#toggle {
    display: none;
}
.menu-wrap .menu-ul .dropdown {
    padding: 35px 0;
}
.dropdown-wrap {
    position: absolute;
    width: 600px;
    background: linear-gradient(108deg, rgb(12, 55, 48) -100%, #000 99.21%);
    top: 88px;
    left: -216px;
    padding: 20px 60px 38px 60px;
    display: none;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #37C8AE;
    box-shadow: -6px 6px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.dropdown-wrap .drop-menu .drop-list {
    padding: 5px 0px;
    margin-right: 0;
}
.dropdown-wrap .drop-menu .drop-list a {
    color: #37C8AE;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
}
.dropdown-wrap .megamenu-container.flex {
    align-items: flex-start;
    justify-content: space-between;
}
.menu-wrap .menu-ul .dropdown:hover .dropdown-wrap {
    display: block;
}
.dropdown-wrap .megamenu-container .mega-side-left .mega-img-wrap img {
    display: block;
}
.dropdown-wrap .megamenu-container .mega-side-left .mega-text-wrap {
    width: 100%;
    max-width: 195px;
}
.dropdown-wrap .megamenu-container .mega-side-left .mega-text-wrap .megatext {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.dropdown-wrap .megamenu-container .mega-side-right {
    max-width: 206px;
    width: 100%;
}
.dropdown-wrap .megamenu-container .mega-side-right .mega-heading {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 7px;
}
@media only screen and (max-width:991px) {
    header {
        position: unset;
    }
    header.sticky {
        position: unset;
    }
    .menu-wrap {
        display: none;
    }
    #toggle {
        display: block;
    }
    .logo-wrap {
        padding: 12px 0;
    }
    .logo-wrap a,
    .logo-wrap a img {
        max-width: 177px;
        display: block;
    }
    .main-header-wrap {
        padding: 0 20px;
    }
    #menu {
        width: 100%;
        position: fixed;
        background-color: #010C16;
        z-index: 5;
        height: 100%;
    }
    #menu .menu-ul-mobile {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        max-height: 100%;
        padding: 0px 0;
        background: linear-gradient(166deg, rgba(12, 55, 48, 0.50) 0%, #000 100%);
    }
    #menu .menu-ul-mobile li {
        list-style: none;
        padding: 25px 20px 15px;
        border-bottom: 1px solid #6C757D;
    }
    #menu .menu-ul-mobile li a{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-family: var(--second-heading);
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
    }
    #menu .menu-ul-mobile .dm-service {
        padding: 25px 0px 0;
    }
    #menu .menu-ul-mobile .dm-service .flex a {
        padding-left: 20px;
    }
    #menu .menu-ul-mobile .dm-service .flex span {
        padding-right: 20px;
    }
    #menu .menu-ul-mobile .dm-service .flex {
        justify-content: space-between;
        padding-bottom: 15px;
    }
    #menu .menu-ul-mobile .dm-service span,
    #menu .menu-ul-mobile .dm-service span svg {
        display: block;
    }
    #menu .menu-ul-mobile .dm-service .tab-heading.on svg {
        rotate: 180deg;
    }
    .tabcontent {
        max-width: 100%;
        padding: 0;
        display: none;
    }
    .tabcontent ul li {
        padding: 20px 20px 10px 30px !important;
    }
    .tabcontent ul li a {
        font-size: 14px !important;
    }
    .tabcontent ul li:first-child {
        border-top: 1px solid #6C757D;
    }
    .tabcontent ul li:last-child {
        border-bottom: none !important;
    }
}