<section class="hompage_section_top">
    <div class="container">
        <div class="main_heading_text">
            <div class="heading">
                <h1 class="main-heading">
                    The Shopify Plus agency for international brands.
                </h1>
            </div>
            <div class="text_wrap">
                <div class="main-text-wrap">
                    <p class="text-title">Our agency specializes in providing Shopify Plus solutions for global businesses seeking to expand their online presence.</p>
                </div>
                <div class="detail_count_wrap flex">
                    <div class="first_count_wrap">
                        <h2 class="number">10 <span>+</span></h2>
                        <h2 class="text">Years of Experince</h2>
                    </div>
                    <div class="first_count_wrap">
                        <h2 class="number">120 <span>+</span></h2>
                        <h2 class="text">Complete Project</h2>
                    </div>
                    <div class="first_count_wrap">
                        <h2 class="number">10 <span>+</span></h2>
                        <h2 class="text">Team Members</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_section_wrapper">
            <div class="slideshow">
                <ngx-slick-carousel class="slider" #slickModal="slick-carousel" [config]="caseConfig">
                  <div ngxSlickItem class="item">
                    <img src="../../assets/image/home_banner.png" />
                  </div>
                  <div ngxSlickItem class="item">
                    <img src="../../assets/image/home_banner_two.png" />
                  </div>
                  <div ngxSlickItem class="item">
                    <img src="../../assets/image/home_banner_three.png" />
                  </div>
                </ngx-slick-carousel>
              </div>
        </div>
    </div>
    <div class="loop_slider_wrap">
        <ngx-slick-carousel class="loop_slider" #slickModal="slick-carousel" [config]="loopConfig">
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/Lab_Vitalite.png" width="77px" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/anansi.png" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/mhc.png" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/protech-black.png" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/PARIS_SELECT.png" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/Lab_Vitalite.png" width="77px" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/anansi.png" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/mhc.png" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/protech-black.png" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img height="100%" src="../../assets/image/PARIS_SELECT.png" alt="Lab_Vitalite">
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<section class="service_section">

</section>