<section class="hompage_section_top">
    <div class="container">
        <div class="main_heading_text">
            <div class="heading">
                <h1 class="main-heading">
                    The Shopify Plus agency for international brands.
                </h1>
            </div>
            <div class="text_wrap">
                <div class="main-text-wrap">
                    <p class="text-title">Our agency specializes in providing Shopify Plus solutions for global businesses seeking to expand their online presence.</p>
                </div>
                <div class="detail_count_wrap flex">
                    <div class="first_count_wrap counter">
                        <div class="count color-yellow"><span class="counter-number" data-count="10">0</span> +</div>
                        <h2 class="text">Years of Experince</h2>
                    </div>
                    <div class="first_count_wrap counter two">
                        <div class="count color-yellow"><span class="counter-number" data-count="120">0</span> +</div>
                        <h2 class="text">Complete Project</h2>
                    </div>
                    <div class="first_count_wrap counter three">
                        <div class="count color-yellow"><span class="counter-number" data-count="10">0</span> +</div>
                        <h2 class="text">Team Members</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider_section_wrapper">
            <div class="slideshow">
                <ngx-slick-carousel class="slider" #slickModal="slick-carousel" [config]="caseConfig">
                    <div ngxSlickItem class="item">
                        <img src="../../assets/image/home_banner-two.webp" />
                    </div>
                    <div ngxSlickItem class="item">
                      <img src="../../assets/image/home_banner-one.webp" />
                    </div>
                    <div ngxSlickItem class="item">
                        <img src="../../assets/image/home_banner-three.webp" />
                    </div>
                    <div ngxSlickItem class="item">
                        <img src="../../assets/image/home_banner-four.webp" />
                    </div>
                    <div ngxSlickItem class="item">
                        <img src="../../assets/image/home_banner-five.webp" />
                    </div>
                </ngx-slick-carousel>
              </div>
        </div>
    </div>
    <div class="loop_slider_wrap">
        <ngx-slick-carousel class="loop_slider" #slickModal="slick-carousel" [config]="loopConfig">
            <div ngxSlickItem>
                <img class="desktop" height="100%" src="../../assets/image/Lab_Vitalite.webp" alt="Lab_Vitalite">
                <img class="mobile" height="100%" src="../../assets/image/protech-mobile.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="desktop" height="100%" src="../../assets/image/anansi.webp" alt="Lab_Vitalite">
                <img class="mobile" height="100%" src="../../assets/image/PARIS_SELECT-mobile.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="desktop" height="100%" src="../../assets/image/mhc.webp" alt="Lab_Vitalite">
                <img class="mobile" height="100%" src="../../assets/image/mhc-mobile.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="desktop" height="100%" src="../../assets/image/protech-black.webp" alt="Lab_Vitalite">
                <img class="mobile" height="100%" src="../../assets/image/protech-mobile.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="desktop" height="100%" src="../../assets/image/PARIS_SELECT.webp" alt="Lab_Vitalite">
                <img class="mobile" height="100%" src="../../assets/image/PARIS_SELECT-mobile.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="" height="100%" src="../../assets/image/Lab_Vitalite.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="" height="100%" src="../../assets/image/anansi.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="" height="100%" src="../../assets/image/mhc.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="" height="100%" src="../../assets/image/protech-black.webp" alt="Lab_Vitalite">
            </div>
            <div ngxSlickItem>
                <img class="" height="100%" src="../../assets/image/PARIS_SELECT.webp" alt="Lab_Vitalite">
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<!-- our serveice -->
<section class="service_section">
    <div class="container">
        <div class="service_all_wrap">
            <h3 class="green-text">our services</h3>
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h2>We provide the necessary services to you</h2>
                </div>
                <div class="service-text">
                    <p>
                        Our Shopify design service offers a comprehensive solution for businesses looking to create a visually appealing and user-friendly online store. Our team of experienced designers and developers work closely with clients to understand their brand and target audience, resulting in a customized storefront that reflects their unique style and values.
                    </p>
                </div>
            </div>
            <div class="service_body_wrap">
                <ul class="service-body desktop">
                    <li class="service-list">
                        <a routerLink="/service-details" class="list-head result_hover">UX/UI Design</a>
                        <span class="list-text">Elevate user experiences with our expert UX/UI design service, seamlessly blending aesthetics and functionality for digital excellence.</span>
                    </li>
                    <li class="service-list">
                        <a routerLink="/shopify-web" class="list-head">Shopify Development</a>
                        <span class="list-text">Unlock e-commerce success with our Shopify development service, tailoring solutions that seamlessly integrate innovation and user-friendly functionality.</span>
                    </li>
                    <li class="service-list">
                        <a routerLink="/data-migration" class="list-head">Data Migration</a>
                        <span class="list-text">Effortlessly transition your data with precision and reliability through our expert data migration service, ensuring a seamless and secure transfer.</span>
                    </li>
                    <li class="service-list">
                        <a routerLink="/strategy&cro" class="list-head">Strategy & CRO Insights</a>
                        <span class="list-text">UX/UI design refers to the process of creating intuitive and visually appealing interfaces for digital products, such as websites and mobile apps.</span>
                    </li>
                    <li class="service-list">
                        <a routerLink="/internationalization" class="list-head">Internationalization</a>
                        <span class="list-text">Expand your reach with our internationalization service, strategically navigating cultural nuances and linguistic diversity to enhance your global presence.</span>
                    </li>
                    <li class="service-list">
                        <a routerLink="/headless" class="list-head">Headless & Composable Commerce</a>
                        <span class="list-text">Revolutionize your commerce experience with our Headless & Composable Commerce service, seamlessly combining flexibility and innovation for a tailored, future-proofed digital solution.</span>
                    </li>
                </ul>
                <div class="service_mobile_tabs mobile">
                    <div class="service_tabs">
                        <h3 class="service_tab-heading service_tablinks flex"><a routerLink="/service-details">UX/UI Design</a> <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <circle cx="11" cy="11" r="10.5" stroke="#37C8AE"/>
                            <path d="M10.3416 7.17447L10.7777 6.73844C10.9623 6.55382 11.2608 6.55382 11.4435 6.73844L15.2616 10.5546C15.4463 10.7392 15.4463 11.0378 15.2616 11.2204L11.4435 15.0386C11.2589 15.2232 10.9603 15.2232 10.7777 15.0386L10.3416 14.6026C10.1551 14.416 10.159 14.1115 10.3495 13.9289L12.7162 11.6741H7.07147C6.81025 11.6741 6.6001 11.464 6.6001 11.2028V10.5743C6.6001 10.313 6.81025 10.1029 7.07147 10.1029H12.7162L10.3495 7.84814C10.157 7.66548 10.1531 7.36105 10.3416 7.17447Z" fill="white"/>
                            </svg></span></h3>
                        <div class="service_content service_tabcontent" id="All">
                            <p>Elevate user experiences with our expert UX/UI design service, seamlessly blending aesthetics and functionality for digital excellence.</p>
                        </div>
                    </div>
                    <div class="service_tabs">
                        <h3 class="service_tab-heading service_tablinks flex"><a routerLink="/shopify-web">Shopify Development</a> <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <circle cx="11" cy="11" r="10.5" stroke="#37C8AE"/>
                            <path d="M10.3416 7.17447L10.7777 6.73844C10.9623 6.55382 11.2608 6.55382 11.4435 6.73844L15.2616 10.5546C15.4463 10.7392 15.4463 11.0378 15.2616 11.2204L11.4435 15.0386C11.2589 15.2232 10.9603 15.2232 10.7777 15.0386L10.3416 14.6026C10.1551 14.416 10.159 14.1115 10.3495 13.9289L12.7162 11.6741H7.07147C6.81025 11.6741 6.6001 11.464 6.6001 11.2028V10.5743C6.6001 10.313 6.81025 10.1029 7.07147 10.1029H12.7162L10.3495 7.84814C10.157 7.66548 10.1531 7.36105 10.3416 7.17447Z" fill="white"/>
                            </svg></span></h3>
                        <div class="service_content service_tabcontent" id="All">
                            <p>Unlock e-commerce success with our Shopify development service, tailoring solutions that seamlessly integrate innovation and user-friendly functionality.</p>
                        </div>
                    </div>
                    <div class="service_tabs">
                        <h3 class="service_tab-heading service_tablinks flex"><a routerLink="/data-migration">Data Migration</a> <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <circle cx="11" cy="11" r="10.5" stroke="#37C8AE"/>
                            <path d="M10.3416 7.17447L10.7777 6.73844C10.9623 6.55382 11.2608 6.55382 11.4435 6.73844L15.2616 10.5546C15.4463 10.7392 15.4463 11.0378 15.2616 11.2204L11.4435 15.0386C11.2589 15.2232 10.9603 15.2232 10.7777 15.0386L10.3416 14.6026C10.1551 14.416 10.159 14.1115 10.3495 13.9289L12.7162 11.6741H7.07147C6.81025 11.6741 6.6001 11.464 6.6001 11.2028V10.5743C6.6001 10.313 6.81025 10.1029 7.07147 10.1029H12.7162L10.3495 7.84814C10.157 7.66548 10.1531 7.36105 10.3416 7.17447Z" fill="white"/>
                            </svg></span></h3>
                        <div class="service_content service_tabcontent" id="All">
                            <p>Effortlessly transition your data with precision and reliability through our expert data migration service, ensuring a seamless and secure transfer.</p>
                        </div>
                    </div>
                    <div class="service_tabs">
                        <h3 class="service_tab-heading service_tablinks flex"><a routerLink="/strategy&cro">Strategy & CRO Insights</a> <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <circle cx="11" cy="11" r="10.5" stroke="#37C8AE"/>
                            <path d="M10.3416 7.17447L10.7777 6.73844C10.9623 6.55382 11.2608 6.55382 11.4435 6.73844L15.2616 10.5546C15.4463 10.7392 15.4463 11.0378 15.2616 11.2204L11.4435 15.0386C11.2589 15.2232 10.9603 15.2232 10.7777 15.0386L10.3416 14.6026C10.1551 14.416 10.159 14.1115 10.3495 13.9289L12.7162 11.6741H7.07147C6.81025 11.6741 6.6001 11.464 6.6001 11.2028V10.5743C6.6001 10.313 6.81025 10.1029 7.07147 10.1029H12.7162L10.3495 7.84814C10.157 7.66548 10.1531 7.36105 10.3416 7.17447Z" fill="white"/>
                            </svg></span></h3>
                        <div class="service_content service_tabcontent" id="All">
                            <p>UX/UI design refers to the process of creating intuitive and visually appealing interfaces for digital products, such as websites and mobile apps.</p>
                        </div>
                    </div>
                    <div class="service_tabs">
                        <h3 class="service_tab-heading service_tablinks flex"><a routerLink="/internationalization">Internationalization</a> <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <circle cx="11" cy="11" r="10.5" stroke="#37C8AE"/>
                            <path d="M10.3416 7.17447L10.7777 6.73844C10.9623 6.55382 11.2608 6.55382 11.4435 6.73844L15.2616 10.5546C15.4463 10.7392 15.4463 11.0378 15.2616 11.2204L11.4435 15.0386C11.2589 15.2232 10.9603 15.2232 10.7777 15.0386L10.3416 14.6026C10.1551 14.416 10.159 14.1115 10.3495 13.9289L12.7162 11.6741H7.07147C6.81025 11.6741 6.6001 11.464 6.6001 11.2028V10.5743C6.6001 10.313 6.81025 10.1029 7.07147 10.1029H12.7162L10.3495 7.84814C10.157 7.66548 10.1531 7.36105 10.3416 7.17447Z" fill="white"/>
                            </svg></span></h3>
                        <div class="service_content service_tabcontent" id="All">
                            <p>Expand your reach with our internationalization service, strategically navigating cultural nuances and linguistic diversity to enhance your global presence.</p>
                        </div>
                    </div>
                    <div class="service_tabs">
                        <h3 class="service_tab-heading service_tablinks flex"><a routerLink="/headless">Headless & Composable Commerce</a> <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <circle cx="11" cy="11" r="10.5" stroke="#37C8AE"/>
                            <path d="M10.3416 7.17447L10.7777 6.73844C10.9623 6.55382 11.2608 6.55382 11.4435 6.73844L15.2616 10.5546C15.4463 10.7392 15.4463 11.0378 15.2616 11.2204L11.4435 15.0386C11.2589 15.2232 10.9603 15.2232 10.7777 15.0386L10.3416 14.6026C10.1551 14.416 10.159 14.1115 10.3495 13.9289L12.7162 11.6741H7.07147C6.81025 11.6741 6.6001 11.464 6.6001 11.2028V10.5743C6.6001 10.313 6.81025 10.1029 7.07147 10.1029H12.7162L10.3495 7.84814C10.157 7.66548 10.1531 7.36105 10.3416 7.17447Z" fill="white"/>
                            </svg></span></h3>
                        <div class="service_content service_tabcontent" id="All">
                            <p>Revolutionize your commerce experience with our Headless & Composable Commerce service, seamlessly combining flexibility and innovation for a tailored, future-proofed digital solution.</p>
                        </div>
                    </div>
                </div>
                <div class="bnt-wrap">
                    <a class="cdk-btn-green desktop" routerLinkActive="active" routerLink="/service">View all services</a>
                    <a class="cdk-btn-green mobile" routerLinkActive="active" routerLink="/service">View all</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our work -->
<section class="our_work_section">
    <div class="container">
        <div class="our_work_all_wrap">
            <h3 class="green-text">our work</h3>
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h2>What we've been really goingafter...</h2>
                </div>
                <div class="service-text">
                    <p>
                        Our Shopify design service offers a comprehensive solution for businesses looking to create a visually appealing and user-friendly online store. Our team of experienced designers and developers work closely with clients to understand their brand and target audience, resulting in a customized storefront that reflects their unique style and values. 
                    </p>
                </div>
            </div>
            <div class="our_work_body_wrap">
                <div class="our_work-images_wrap flex wrap">
                    <a routerLinkActive="active" routerLink="/luxandnyx" class="work-image_one work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_11.webp" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_1-mobile.webp" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">luxandnyx</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                    <a routerLinkActive="active" routerLink="/paris-select" class="work-image_two work-image_all">
                        <div class="card-h-txt">
                            <!-- <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt=""> -->
                            <h3 class="logo_card">Paris Select</h3>
                            <div class="bottom_card">
                            <h4 class="card-heading">Paris Select</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_2.webp" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_2-mobile.webp" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Paris Select</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                </div>
                <div class="our_work-images_wrap flex wrap second">
                    <a routerLink="/egyptian" class="work-image_three work-image_all">
                        <div class="card-h-txt">
                            <!-- <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt=""> -->
                            <h3 class="logo_card">Egyptianqueenbeauty</h3>
                            <div class="bottom_card">
                            <h4 class="card-heading">Egyptianqueenbeauty</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_3.webp" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_3-mobile.webp" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Egyptianqueenbeauty</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                    <div class="work-image_four work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card igluu" src="../../assets/image/attachment-igluu.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Igluu Meal Prep</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_4.webp" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_4-mobile.webp" alt="">
                    </div>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Igluu Meal Prep</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                </div>
                <div class="bnt-wrap">
                    <a class="cdk-btn-green desktop" routerLinkActive="active" routerLink="/our-work">View all projects</a>
                    <a class="cdk-btn-green mobile" routerLinkActive="active" routerLink="/our-work">View all</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="partnerships_section">
    <div class="partnerships_container">
        <div class="partnerships_all_wrap flex_two">
            <div class="partner_title">
                <h3 class="part_title">Partnerships</h3>
            </div>
            <div class="partner_all_wrap">
                <div class="partner_top_text">
                    <h2 class="partners_text">
                        We partner with the best in the industry to ensure our clients are at the cutting edge of e‑commerce.
                    </h2>
                </div>
                <div class="partner_bottom_logos flex desktop">
                    <a target="_blank" href="https://www.shopify.com/in" class="part_logo">
                        <img src="../../assets/image/shopify.webp" alt="">
                    </a>
                    <a target="_blank" href="https://mailchimp.com/" class="part_logo">
                        <img src="../../assets/image/mailchimp.webp" alt="">
                    </a>
                    <a target="_blank" href="https://shippsy.com/" class="part_logo">
                        <img src="../../assets/image/shippsy.webp" alt="">
                    </a>
                    <a target="_blank" href="" class="part_logo">
                        <img src="../../assets/image/recharge.webp" alt="">
                    </a>
                    <a target="_blank" href="https://www.klaviyo.com/" class="part_logo">
                        <img src="../../assets/image/klaviyo-update.webp" alt="">
                    </a>
                    <a target="_blank" href="https://www.shopify.com/in/plus" class="part_logo">
                        <img src="../../assets/image/shopify-plus.webp" alt="">
                    </a>
                </div>
                <div class="partner_bottom_logos_mobile mobile">
                    <div class="upper-logos flex">
                        <a target="_blank" href="https://www.shopify.com/in" class="part_logo">
                            <img src="../../assets/image/shopify-mobile.webp" alt="">
                        </a>
                        <a target="_blank" href="https://mailchimp.com/" class="part_logo">
                            <img src="../../assets/image/mailchimp-mobile.webp" alt="">
                        </a>
                        <a target="_blank" href="https://shippsy.com/" class="part_logo not_wargin">
                            <img src="../../assets/image/shippsy-mobile.webp" alt="">
                        </a>
                    </div>
                    <div class="lower-logos flex">
                        <a target="_blank" href="" class="part_logo">
                            <img src="../../assets/image/recharge-mobile.webp" alt="">
                        </a>
                        <a target="_blank" href="https://www.klaviyo.com/" class="part_logo">
                            <img src="../../assets/image/klaviyo-update-mobile.webp" alt="">
                        </a>
                        <a target="_blank" href="https://www.shopify.com/in/plus" class="part_logo not_wargin">
                            <img src="../../assets/image/shopify-plus-mobile.webp" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blogs-section">
    <div class="container">
        <div class="our_work_all_wrap">
            <h3 class="green-text">Latest News</h3>
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h2>From Industry Insights to Personal Growth</h2>
                </div>
                <div class="service-text">
                    <p>
                        Our Shopify design service offers a comprehensive solution for businesses looking to create a visually appealing and user-friendly online store. Our team of experienced designers and developers work closely with clients to understand their brand and target audience, resulting in a customized storefront that reflects their unique style and values. 
                    </p>
                </div>
            </div>
            <div class="blog_cards_wrapper flex">
                <a routerLink="/resource" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-one.webp" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 02, 2023</h3>
                        <p>5 Tips for Optimizing Your Shopify Store's SEO</p>
                    </div>
                </a>
                <a routerLink="/resource-3" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-two.webp" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 21, 2023</h3>
                        <p>How to Use Instagram to Drive Sales on Your Shopify Store</p>
                    </div>
                </a>
                <a routerLink="/resource-2" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-three.webp" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>February 06, 2023</h3>
                        <p>5 Best Shopify Apps for Streamlining Your Business Operations</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>