.our_work_body_wrap.two {
    margin-top: 0px;
}
.our_work_section .our_work_all_wrap .our_work_body_wrap .bnt-wrap {
    margin-top: 50px;
}
.our_work_section {
    margin-bottom: 100px;
    margin-top: 100px;
}
.bnt-wrap.desktop {
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    margin-top: 50px;
}
.our_work_body_wrap.hide {
    margin-top: 0;
}
@media only screen and (max-width:767px) {
    .our_work_section {
        padding: 70px 0px 50px;
        margin-bottom: 0px;
    }
}