<section class="our_work_section">
    <div class="container">
        <div class="our_work_all_wrap">
            <h3 class="green-text">our work</h3>
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h2>What we've been really goingafter...</h2>
                </div>
                <div class="service-text">
                    <p>
                        Our Shopify design service offers a comprehensive solution for businesses looking to create a visually appealing and user-friendly online store. Our team of experienced designers and developers work closely with clients to understand their brand and target audience, resulting in a customized storefront that reflects their unique style and values. 
                    </p>
                </div>
            </div>
            <div class="our_work_body_wrap">
                <div class="our_work-images_wrap flex wrap">
                    <a routerLinkActive="active" routerLink="/luxandnyx" class="work-image_one work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_1.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_1-mobile.png" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">luxandnyx</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                    <a routerLinkActive="active" routerLink="/paris-select" class="work-image_two work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Paris Select</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_2.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_2-mobile.png" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Paris Select</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                </div>
                <div class="our_work-images_wrap flex wrap second">
                    <a routerLink="/egyptian" class="work-image_three work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Egyptianqueenbeauty</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_3.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_3-mobile.png" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Egyptianqueenbeauty</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                    <div class="work-image_four work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Igluu Meal Prep</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_4.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_4-mobile.png" alt="">
                    </div>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Igluu Meal Prep</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                </div>
            </div>
            <div class="our_work_body_wrap two">
                <div class="our_work-images_wrap flex wrap">
                    <div class="work-image_one work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_5.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_5-mobile.png" alt="">
                    </div>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">luxandnyx</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                    <a routerLink="/m-h-c" class="work-image_two work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Menshealthclinic</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_6.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_6-mobile.png" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Menshealthclinic</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                </div>
                <div class="our_work-images_wrap flex wrap second">
                    <a routerLink="/protech" class="work-image_three work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Protech</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_7.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_7-mobile.png" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Protech</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                    <a routerLink="/gripps" class="work-image_four work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Gripps</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_8.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_8-mobile.png" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Gripps</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                </div>
            </div>
            <div class="our_work_body_wrap hide more-work-container" style="display: none;">
                <div class="our_work-images_wrap flex wrap">
                    <a routerLink="/fames-chocolates" class="work-image_one work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Fameschocolates</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_9.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_9-mobile.png" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Fameschocolates</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                    <a routerLink="/anansi-palace" class="work-image_two work-image_all">
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.png" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">Anansipalaceforkids</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img class="desktop" src="../../assets/image/portfolio/our_work_10.png" alt="">
                        <img class="mobile" src="../../assets/image/portfolio/our_work_10-mobile.png" alt="">
                    </a>
                    <div class="our_card_bottom_text mobile">
                        <h4 class="card-heading">Anansipalaceforkids</h4>
                        <p class="card-txt">Shopify Plus Design & Build</p>
                    </div>
                </div>
            </div>
            <div class="bnt-wrap desktop">
                <a class="cdk-btn-green more-work">load more</a>
            </div>
        </div>
    </div>
</section>