<section id="main-banner">
    <img src="../../assets/image/portfolio/lux&nyx/main-banner.webp" alt="" width="100%" class="main-banner-image desktop">
    <img src="../../assets/image/portfolio/lux&nyx/main-banner-mobile.webp" alt="" width="100%" class="main-banner-image mobile">
</section>
<section id="title-and-text" class="service_section">
    <div class="service_all_wrap container-second">
        <div class="title-wrap">
            <h1 class="portfolio-title-green">
                Luxandnyx
            </h1>
        </div>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h3 class="green-text">Shopify Plus Replatform</h3>
            </div>
            <div class="service-text">
                <p class="primery-text">
                    This journey inspired me to create Lux & Nyx, a brand that stands for something bigger than just a handbag. Our handbags are not just accessories; they are symbols of empowerment, designed to inspire confidence and ambition in women who are carving out their own paths in life.And now, with the addition of our unisex line, we proudly support everyone who believes in the movement of gender equity.
                </p>
                <div class="bnt-wrap">
                    <a class="cdk-btn-green" href="https://luxandnyx.com/">view live site</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="desktop-image">
    <div class="container" id="container">
        <div class="desktop-image-wrapper">
            <img src="../../assets/image/portfolio/lux&nyx/lux-second-banner.webp" alt="" width="100%" class="desktop-img">
        </div>
    </div>
</section>
<section id="service-two" class="service_section portfolio-list-section">
    <div class="service_all_wrap container-second">
        <h3 class="green-text">Services & Technology</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>Shopify excellence unleashed here</h2>
            </div>
            <div class="service-text">
                <p>
                    Codesdesk came on board looking to replatform onto Shopify Plus complete with an overhaul of their current design. We migrated them to a stunning new home with a multi-store international setup that matches up to their global reputation. Since their launch, Dockers have partnered with us for long-term success on Shopify Plus.
                </p>
            </div>
        </div>
        <div class="container-two">
            <div class="all-items-wrapper">
                <ul class="unorder-list">
                    <li class="unorder-items">UX/UI Design</li>
                    <li class="unorder-items">Shopify Plus</li>
                    <li class="unorder-items">Theme Development</li>
                    <li class="unorder-items">Klaviyo</li>
                    <li class="unorder-items">Replatforming</li>
                    <li class="unorder-items">OneTrust</li>
                    <li class="unorder-items">Payments & Checkout</li>
                    <li class="unorder-items">Performance Enhancement</li>
                    <li class="unorder-items">Strategy & CRO Insights</li>
                    <li class="unorder-items">Data Migration</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="mobile-screens">
    <div class="container" id="container">
        <div class="all-mobile-screen-wrap flex space-between">
            <div class="mobile-screen">
                <img src="../../assets/image/portfolio/lux&nyx/Luxandnyx-screen1.webp" alt="" width="100%" class="screen-img desktop">
                <img src="../../assets/image/portfolio/lux&nyx/Luxandnyx-screen-mobile1.webp" alt="" width="100%" class="screen-img mobile">
            </div>
            <div class="mobile-screen">
                <img src="../../assets/image/portfolio/lux&nyx/Luxandnyx-screen1.webp" alt="" width="100%" class="screen-img desktop">
                <img src="../../assets/image/portfolio/lux&nyx/Luxandnyx-screen-mobile2.webp" alt="" width="100%" class="screen-img mobile">
            </div>
            <div class="mobile-screen">
                <img src="../../assets/image/portfolio/lux&nyx/Luxandnyx-screen1.webp" alt="" width="100%" class="screen-img desktop">
                <img src="../../assets/image/portfolio/lux&nyx/Luxandnyx-screen-mobile3.webp" alt="" width="100%" class="screen-img mobile">
            </div>
        </div>
    </div>
</section>
<section id="title-and-text" class="service_section">
    <div class="service_all_wrap container-second">
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h3 class="green-text">The Results</h3>
            </div>
            <div class="service-text">
                <p class="primery-text">
                    Luxandnyx initiated discussions concerning potential partnerships and assessed the compatibility of their brand with the Shopify platform.
                </p>
            </div>
        </div>
        <div id="counter-wrapper" class="count-main flex space-between">
            <div class="counter">
                <div class="count color-yellow"><span class="counter-number" data-count="272">0</span> %</div>
                <div class="counter-name">
                    Sales Increased
                </div>
            </div>
            <div class="counter">
                <div class="count color-yellow"><span class="counter-number" data-count="72">0</span> %</div>
                <div class="counter-name">
                    Returning Customer Rate Increased
                </div>
            </div>
            <div class="counter">
                <div class="count color-yellow"><span class="counter-number" data-count="172">0</span> %</div>
                <div class="counter-name">
                    Average Order Value Increased
                </div>
            </div>
        </div>
    </div>
</section>
<section id="title-and-text" class="service_section two">
    <div class="service_all_wrap container-second">
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h3 class="green-text">The Solution</h3>
            </div>
            <div class="service-text">
                <p class="primery-text">
                    Our Shopify Website Solution is a comprehensive service designed to elevate your online business presence. We specialize in crafting visually appealing, user-friendly Shopify websites tailored to your brand identity. Our expert team ensures a seamless integration of essential e-commerce functionalities, from secure payment gateways to efficient inventory management
                </p>
            </div>
        </div>
    </div>
    <div class="container" id="container">
        <div class="desktop-image-wrapper">
            <img src="../../assets/image/portfolio/lux&nyx/desktop-two-img.webp" alt="" width="100%" class="desktop-img">
        </div>
    </div>
</section>
<section id="title-and-text" class="service_section three">
    <div class="service_all_wrap container-second">
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h3 class="green-text">The Challenge</h3>
            </div>
            <div class="service-text">
                <p class="primery-text">
                    Navigating the challenges of a Shopify website involves optimizing for user experience, staying abreast of e-commerce trends, and managing dynamic inventory demands. Overcoming customization hurdles and ensuring seamless integrations with third-party apps are crucial aspects. Our expertise lies in addressing these challenges, offering tailored solutions to enhance your Shopify website's performance and overall success.
                </p>
            </div>
        </div>
    </div>
    <div class="container" id="container">
        <div class="all-challenge-img-wrapper">
            <div class="challenge-top-wrap flex">
                <div class="challenge-img">
                    <img src="../../assets/image/portfolio/lux&nyx/challenge.webp" alt="" width="100%" class="challenge-image">
                </div>
                <div class="challenge-img">
                    <img src="../../assets/image/portfolio/lux&nyx/challenge2.webp" alt="" width="100%" class="challenge-image">
                </div>
            </div>
            <div class="challenge-bottom-wrap">
                <img src="../../assets/image/portfolio/lux&nyx/challenge3.webp" width="100%" alt="" class="challenge-image">
            </div>
        </div>
    </div>
</section>
<section id="case-slider-section" class="case-slider-section">
    <div id="container" class="container">
        <div class="all-case-slider-wrap">
            <div class="case-slider-header flex space-between">
                <h3 class="green-text">our portfolio</h3>
            </div>
            <div class="case-slider-body">
                <ngx-slick-carousel  class="case-slider-wrapper" #slickModal="slick-carousel" [config]="caseslider">
                    <div class="case-items" ngxSlickItem>
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img src="../../assets/image/portfolio/case/case-2.webp" width="100%" alt="case-1">
                    </div>   
                    <div class="case-items" ngxSlickItem>
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img src="../../assets/image/portfolio/case/case-1.webp" width="100%" alt="case-1"> 
                    </div>
                    <div class="case-items" ngxSlickItem>
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img src="../../assets/image/portfolio/case/case-3.webp" width="100%" alt="case-1">
                    </div> 
                    <div class="case-items" ngxSlickItem>
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img src="../../assets/image/portfolio/case/case-2.webp" width="100%" alt="case-1">
                    </div> 
                    <div class="case-items" ngxSlickItem>
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img src="../../assets/image/portfolio/case/case-1.webp" width="100%" alt="case-1">
                    </div> 
                    <div class="case-items" ngxSlickItem>
                        <div class="card-h-txt">
                            <img class="logo_card" src="../../assets/image/luxandnyx_logo-h.webp" width="100%" alt="">
                            <div class="bottom_card">
                            <h4 class="card-heading">luxandnyx</h4>
                            <p class="card-txt">Shopify Plus Design & Build</p>
                            </div>
                        </div>
                        <img src="../../assets/image/portfolio/case/case-3.webp" width="100%" alt="case-1">
                    </div>   
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>