<section class="error-main-section">
    <div class="container">
        <div class="error-all-wrapper flex space-between">
            <div class="error-text-wrap">
                <h3 class="green-text">oops ! .......</h3>
                <h1 class="main-heading">Page not found</h1>
                <p class="primery-text">
                    A 404 page signifies a missing webpage, offering a friendly message and navigation cues to redirect users. It enhances user experience by guiding them back to the main site when encountering broken or unavailable links.
                </p>
                <div class="bnt-wrap">
                    <a class="cdk-btn-green" href="/">back to home</a>
                </div>
            </div>
            <div class="error-img-wrap">
                <img class="error-image" width="100%" src="../../assets/image/404-page.png" alt="error-image">
            </div>
        </div>
    </div>
</section>