<section class="our-approach-section space-top-p">
    <div class="container">
        <h3 class="green-text">contact us</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2 class="second-heading">Get in touch, and we'll help you grow.</h2>
            </div>
            <div class="service-text">
                <p>
                    At our esteemed organization, we are committed to delivering exceptional project solutions that cater to your unique requirements. If you're seeking a reliable partner to bring your ideas to life, look no further. Our team of experts is well-versed in various domains and possesses the necessary skills and resources to ensure project success. Reach out to us today and let's collaborate on your next project!
                </p>
            </div>
        </div>
        <div class="about_cards_wrap flex">
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <div class="contact-icons flex-center">
                            <img src="../../assets/image/contact-phone.webp" alt="call-icon">
                        </div>
                        <h3 class="card-heading">Give us a call</h3>
                        <a href="tel:+91-99880-74677" class="card-text">
                            +91-99880-74677
                        </a>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <div class="contact-icons flex-center">
                            <img src="../../assets/image/contact-email.webp" alt="call-icon">
                        </div>
                        <h3 class="card-heading">Drop us a line</h3>
                        <a href="mailto:info@codesdesk.com" class="card-text">
                            Info@Codesdesk.Com
                        </a>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <div class="contact-icons flex-center">
                            <img src="../../assets/image/contact-location.webp" alt="call-icon">
                        </div>
                        <h3 class="card-heading">Visit our office</h3>
                        <a class="card-text">
                            #407 Tower A, Bestech Business Tower, Sector 66 Mohali, Punjab 160055
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-form-section">
    <div class="container">
        <div class="contact-form-wrap">
            <div class="contact-head-wrap">
                <h3 class="green-text">REQUEST A QUOTE</h3>
                <h1 class="second-heading">How May We Help You!</h1>
            </div>
            <form action="" class="contact_form" autocomplete="noac">
                <div class="name-fields-wrap flex">
                    <fieldset>
                        <input class="textfield__input" type="text" name="firstname" autocomplete="noac" autofill="off" id="firstname" required>
                        <label class="textfield__label" for="firstname">first Name</label>
                    </fieldset>
                    <fieldset>
                        <input type="text" name="lastname" id="lastname" autocomplete="noac" autofill="off" required>
                        <label class="textfield__label" for="lastname">last Name</label>
                    </fieldset>
                </div>
                <div class="other-fields-wrap flex flex-column">
                   <fieldset>
                       <input type="email" name="mail" id="mail" autocomplete="noac" required>
                       <label class="textfield__label" for="mail">Email</label>
                   </fieldset>
                    <fieldset>
                        <input type="number" name="phone" id="phone" autocomplete="noac" required>
                        <label class="textfield__label" for="phone">phone number</label>
                    </fieldset>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                    <button class="cdk-contact-btn">SUBMIT</button>
                </div>
            </form>
            <!-- <form action="" class="contact-form">
                <div class="name-field-wrap flex space-between">
                    <div class="name-form flex_two flex-column">
                        <label for="f-name">First Name <span>*</span></label>
                        <input type="text" id="f-name" required placeholder="First Name">
                    </div>
                    <div class="name-form flex_two flex-column">
                        <label for="l-name">Last Name <span>*</span></label>
                        <input type="text" id="l-name" required placeholder="Last Name">
                    </div>
                </div>
                <div class="other-field flex_two flex-column">
                    <label for="e-mail">Email <span>*</span></label>
                    <input type="email" id="e-mail" required placeholder="Email">
                    <label for="phone">Phone Number <span>*</span></label>
                    <input type="number" id="phone" required placeholder="Phone Number">
                </div>
                <div class="msg-field flex_two flex-column">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <button class="cdk-contact-btn">SUBMIT</button>
            </form> -->
        </div>
    </div>
</section>
<section class="location-section">
    <div class="location-wrap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3431.5273704713363!2d76.7379678114345!3d30.675434788293085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feb21fb585099%3A0x2f07b90259da0c10!2sCODESDESK!5e0!3m2!1sen!2sin!4v1704448469648!5m2!1sen!2sin" width="100%" height="600" max-height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>