<section class="main-title-section space-top-p">
    <div class="container">
        <div class="main-title-wrap">
            <h3 class="green-text">OUR STORY</h3>
            <h1 class="main-heading">IT solutions provider company</h1>
            <p class="primery-text">
                As a leading Shopify e-commerce agency, our heading reflects our expertise and focus on helping businesses thrive in the online marketplace. Our team of experienced designers, developers, and strategists specialize in creating customized Shopify stores that are optimized for sales, user experience, and search engine optimization. Whether you're a startup or an established brand, we can help you unlock the full potential of the Shopify platform and achieve your e-commerce goals.
            </p>
        </div>
    </div>
</section>
<section class="about-banner-section">
    <div class="banner-image-wrap">
    </div>
    <div class="container">
        <div class="about_cards_wrap flex">
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Our mission</h3>
                    <p class="card-text">
                        At Codesdesk Technology, we believe in the power of effective web design and development to transform your online business. Our mission is to provide you with the tools and expertise needed to succeed in the ever-growing ecommerce industry.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">OUR VISION</h3>
                    <p class="card-text">
                        At Codesdesk Technology, we are driven by a strong vision - to empower businesses with stunning and high-performing online stores that captivate customers and drive sales.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">OUR PROCESS</h3>
                    <p class="card-text">
                        At Codesdesk Technology, we understand that a visually appealing and user-friendly website is crucial for your online business success. Our team of experienced designers and developers are dedicated to helping you achieve your goals.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="management_section">
    <div class="management_wrapper">
        <div class="container flex">
            <div class="image_side">
                <img src="../../assets/image/saurabh.webp" alt="ceo">
                <h3 class="ceo_name">Saurabh Sharma</h3>
                <p class="des_name">founder of codesdesk</p>
            </div>
            <div class="text-side">
                <h2 class="mange_heading primery-heading">Management and Team</h2>
                <p class="p-text">
                    <span>“</span>At Codesdesk Technology, we blend dedication, sincerity and adaptability to bring you standout digital solutions and reliable staffing services. Our strong commitment to improving our society drives us and we're passionate about pushing your success forward with unwavering hard work and a focused approach.<span>”</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="about_slider_section">
    <div class="container">
        <div class="slider_and_text_wrapper flex_two">
            <div class="slider-side">
                <ngx-slick-carousel class="image-slider-items" #slickModal="slick-carousel" [config]="caseConfig">

                    <div ngxSlickItem class="image-slide">
                        <img src="../../assets/image/img-slide1.webp" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies</p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">Codesdesk Is Growing E-Commerce Agency Based In India Serving Global Clients Since 7+ Years</p>
                            <div class="image-slider-bt">
                                <a routerLink="/service" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="black"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide">
                        <img src="../../assets/image/img-slide2.webp" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies</p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">Codesdesk Is Growing E-Commerce Agency Based In India Serving Global Clients Since 7+ Years</p>
                            <div class="image-slider-bt">
                                <a routerLink="/service" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="black"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide">
                        <img src="../../assets/image/img-slide3.webp" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies</p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">Codesdesk Is Growing E-Commerce Agency Based In India Serving Global Clients Since 7+ Years</p>
                            <div class="image-slider-bt">
                                <a routerLink="/service" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="black"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide">
                        <img src="../../assets/image/img-slide4.webp" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies</p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">Codesdesk Is Growing E-Commerce Agency Based In India Serving Global Clients Since 7+ Years</p>
                            <div class="image-slider-bt">
                                <a routerLink="/service" routerLinkActive="active" class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="black"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
            <div class="slider-text-side">
                <img src="../../assets/image/st-video-shape.webp" width="100%" alt="dots" class="dots-image">
                <h3 class="green-text">OUR COMPANY</h3>
                <h2 class="primery-heading">Choose The Best IT Service Company</h2>
                <p class="primery-text">Codesdesk Is Growing E-Commerce Agency Based In India Serving Global Clients Since 7+ Years. We Employ In-House Team Of Professionals Working Round The Clock To Deliver Quality Web Based Services.</p>
                <h4 class="slider-service-head">Why Codesdesk Technology?</h4>
                <ul class="slider-menu">
                    <li class="slider-items">Expertise and Experience</li>
                    <li class="slider-items">Quality Standards</li>
                    <li class="slider-items">Customized Solutions</li>
                    <li class="slider-items">Agile Development Methodologie</li>
                    <li class="slider-items">Timely Delivery</li>
                </ul>
                <div class="slider-buttons flex">
                    <a class="cdk-btn-green" routerLinkActive="active" routerLink="/contact">Get a quote</a>
                    <div class="call-cdk-wrap flex">
                        <a href="tel:+91-9988074677" class="call-icon"><img src="../../assets/image/call-icon.webp" alt="icon"></a>
                        <span class="ckd-call-text flex_two">
                            <span class="cdk_text">Call for help</span>
                            <a href="tel:+91-9988074677">+91-99880-74677</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="last-team-slider-section">
    <div class="container">
        <div class="team_slider_title_wrap">
            <h2 class="slider-title">
                Fueling Curiosity, Driving Excellence: Life at Codesdesk
            </h2>
        </div>
    </div>
        <ngx-slick-carousel  class="team-slider-wrapper flex_two" #slickModal="slick-carousel" [config]="teamcaseConfig">
            <div ngxSlickItem>
                <div class="slide_wrapper flex_two" >
                    <div class="team_slider_com team_slide_one">
                        <img width="100%" src="../../assets/image/team/team-one.webp" alt="">
                    </div>
                    <div class="team_slider_com team_slide_two">
                        <div class="t-s-up">
                            <img width="100%" src="../../assets/image/team/team-two.webp" alt="">
                        </div>
                        <div class="t-s-down">
                            <img width="100%" src="../../assets/image/team/team-three.webp" alt="">
                        </div>
                    </div>
                    <div class="team_slider_com team_slide_three">
                        <img width="100%" src="../../assets/image/team/team-four.webp" alt="">
                    </div>
                </div>  
            </div>   
            <div ngxSlickItem>
                <div class="slide_wrapper flex_two" >
                    <div class="team_slider_com team_slide_one">
                        <img width="100%" src="../../assets/image/team/team-one.webp" alt="">
                    </div>
                    <div class="team_slider_com team_slide_two">
                        <div class="t-s-up">
                            <img width="100%" src="../../assets/image/team/team-two.webp" alt="">
                        </div>
                        <div class="t-s-down">
                            <img width="100%" src="../../assets/image/team/team-three.webp" alt="">
                        </div>
                    </div>
                    <div class="team_slider_com team_slide_three">
                        <img width="100%" src="../../assets/image/team/team-four.webp" alt="">
                    </div>
                </div>  
            </div>
            <div ngxSlickItem>
                <div class="slide_wrapper flex_two" >
                    <div class="team_slider_com team_slide_one">
                        <img width="100%" src="../../assets/image/team/team-one.webp" alt="">
                    </div>
                    <div class="team_slider_com team_slide_two">
                        <div class="t-s-up">
                            <img width="100%" src="../../assets/image/team/team-two.webp" alt="">
                        </div>
                        <div class="t-s-down">
                            <img width="100%" src="../../assets/image/team/team-three.webp" alt="">
                        </div>
                    </div>
                    <div class="team_slider_com team_slide_three">
                        <img width="100%" src="../../assets/image/team/team-four.webp" alt="">
                    </div>
                </div>  
            </div>   
        </ngx-slick-carousel>
    <div class="container">
        <div class="team_slider_mobile mobile">
            <img width="100%" src="../../assets/image/team/team-one.webp" alt="">
        </div>
    </div>
</section>