.container {
    padding: 0 30px;
}
.main-title-section .main-title-wrap .main-heading {
    text-transform: capitalize;
}
.about-banner-section .banner-image-wrap img.desktop,
.about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .image-slider-bt .svg-button,
.about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .image-slider-bt .svg-button svg,
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon,
.last-team-slider-section .team-slider-wrapper .slide_wrapper .team_slide_one img,
.last-team-slider-section .team-slider-wrapper .slide_wrapper .team_slide_two img,
.last-team-slider-section .team-slider-wrapper .slide_wrapper .team_slide_three img  {
    display: block;
}
.about-banner-section .banner-image-wrap {
    background: url(../../assets/image/about-banner1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-clip: border-box;
    background-origin: border-box;
    height: 100vh;
}
/* about cards */
/* about cards end */
.management_section .management_wrapper {
    background: linear-gradient(280deg, rgba(0,0,0,1) 63%, rgba(16,58,58,1) 64%, rgba(8,25,35,1) 64.5%, rgba(16,58,58,1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.management_section .management_wrapper .container.flex {
    padding: 24px 90px 25px 30px;
    justify-content: space-between;
}
.management_section .management_wrapper .container.flex .image_side {
    text-align: center;
}
.management_section .management_wrapper .container.flex .image_side img {
    display: block;
}   
.management_section .management_wrapper .container.flex .text-side {
    width: 100%;
    max-width: 737px;
}
.management_section .management_wrapper .container.flex .image_side .ceo_name {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
.management_section .management_wrapper .container.flex .image_side .des_name {
    color: #37C8AE;
    text-align: center;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.management_section .management_wrapper .container.flex .text-side .mange_heading {
    color: #FFF;
    font-family: var(--main-heading-font);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
}
.management_section .management_wrapper .container.flex .text-side .manage_text {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.management_section .management_wrapper .container.flex .text-side .manage_text span {
    color: #37C8AE;
}
.about-banner-section .container .about_cards_wrap .about-cards_wrap .box {
    max-height: 327px;
    min-height: 327px;
}
.slider_and_text_wrapper .slider-side {
    width: 49.22%;
}
.image-slide-text {
    position: absolute;
    bottom: 0;
    padding: 30px;
    max-width: 524px;
    z-index: 1;
}
.about_slider_section {
    padding: 200px 0;
}
.about_slider_section .slider_and_text_wrapper.flex_two {
    gap: 30px;
}
.about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#000000c7,transparent);
}
.about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .sub-text {
    color: #37C8AE;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .heading {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 15px 0;
}
.about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .text {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 18px;
}
.about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .image-slider-bt .svg-button {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #37C8AE;
}
.about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .image-slider-bt .svg-button:hover svg {
    animation-name: bounceAlpha;
    animation-duration: .9s;
    animation-timing-function: linear;
}
@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
.about_slider_section .slider_and_text_wrapper .slider-text-side {
    width: 100%;
    max-width: 650px;
    position: relative;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .dots-image {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    max-width: 224px;
    z-index: -1;
    animation-name: floating_dots;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating_dots {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-25px,25px);
    }
    100% {
        transform: translateY(0px);
    }
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .primery-heading {
    margin: 15px 0;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .primery-text {
    font-family: var(--second-heading);
    color: #fff;
    margin-bottom: 30px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-service-head {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu {
    padding: 25px 20px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items {
    list-style: none;
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    position: relative;
    padding-left: 35px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items:not(:last-child) {
    margin-bottom: 20px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items::after {
    content: url(../../assets/image/marker-sl.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    left: 0;
    top: 2.5px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons {
    margin-top: 25px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap {
    margin-left: 40px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .ckd-call-text {
    flex-direction: column;
    margin-left: 20px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .ckd-call-text .cdk_text {
    display: block;
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .ckd-call-text a {
    display: block;
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #010C16;
    z-index: 1;
    border: 1px solid #37C8AE;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: linear-gradient(353deg, rgba(55,200,174,1) 0%, rgba(55,200,174,0.9640231092436975) 100%);
    z-index: 0;
    animation: pulse-border 1500ms ease-out infinite;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon img {
    position: relative;
    z-index: 2;
}
.about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon:hover img {
    cursor:pointer;
    -webkit-animation-name: hvr-biizz;
    animation-name: hvr-biizz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes hvr-biizz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}
@keyframes hvr-biizz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0
    }
}
/* last -team -slider */
.last-team-slider-section {
    padding-bottom: 200px;
}
.last-team-slider-section .team-slider-wrapper .slide_wrapper .team_slide_two .t-s-up {
    margin-bottom: 30px;
}

.last-team-slider-section .team-slider-wrapper .slide_wrapper .team_slider_com {
    margin-right: 29px;
}
.last-team-slider-section .team_slider_title_wrap {
    width: 100%;
    display: block;
    max-width: 752px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.last-team-slider-section .team_slider_title_wrap .slider-title {
    color: #FFF;
    text-align: center;
    font-family: var(--main-heading-font);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@media only screen and (max-width:1366px) {
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .box {
        min-height: 364px;
    }
}
@media only screen and (min-width:1280px) and (max-width:1365px) {
    .about_slider_section .slider_and_text_wrapper .slider-text-side .primery-heading {
        margin: 10px 0;
        font-size: 42px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .primery-text {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-service-head {
        font-size: 24px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu {
        padding: 20px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons {
        margin-top: 20px;
    }
}
@media only screen and (max-width:1024px) {
    .management_section .management_wrapper .container.flex .text-side {
        width: 100%;
        max-width: 500px;
    }
    .management_section .management_wrapper {
        background-position: unset;
    }
    .about_slider_section {
        padding: 150px 0;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .primery-heading {
        margin: 10px 0;
        font-size: 32px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .primery-text {
        margin-bottom: 10px;
        font-size: 13px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-service-head {
        font-size: 22px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu {
        padding: 10px 15px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items {
        font-size: 18px;
        line-height: 22px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items:not(:last-child) {
        margin-bottom: 10px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons {
        margin-top: 5px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text {
        padding: 15px;
        max-width: 350px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .sub-text {
        font-size: 18px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .heading {
        font-size: 26px;
        line-height: 30px;
        margin: 5px 0;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .management_section .management_wrapper .container.flex {
        padding: 24px 40px 25px 40px;
    }
    .management_section .management_wrapper {
        background: linear-gradient(280deg, rgba(0,0,0,1) 58%, rgba(16,58,58,1) 59%, rgba(8,25,35,1) 60%, rgba(16,58,58,1) 100%);
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .box {
        min-height: 293px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .container {
        padding: 0 20px;
    }
    .management_section .management_wrapper .container.flex .image_side img {
        max-width: 250px;
    }
    .management_section .management_wrapper .container.flex {
        padding: 15px 30px 15px 30px;
    }
    .management_section .management_wrapper .container.flex .text-side {
        width: 100%;
        max-width: 350px;
    }
    .management_section .management_wrapper .container.flex .text-side .mange_heading {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .management_section .management_wrapper .container.flex .text-side .manage_text {
        font-size: 16px;
        line-height: 25px;
    }
    .management_section .management_wrapper .container.flex .image_side .ceo_name {
        font-size: 22px;
        line-height: 24px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .management_section .management_wrapper .container.flex .image_side .des_name {
        font-size: 16px;
    }
    .about_slider_section {
        padding: 150px 0;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .green-text {
        font-size: 16px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .primery-heading {
        margin: 5px 0;
        font-size: 26px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .primery-text {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 20px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-service-head {
        font-size: 18px;
        line-height: 20px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu {
        padding: 10px 10px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items {
        font-size: 15px;
        line-height: 20px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items:not(:last-child) {
        margin-bottom: 5px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons {
        margin-top: 5px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text {
        padding: 10px;
        max-width: 280px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .sub-text {
        font-size: 14px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .heading {
        font-size: 20px;
        line-height: 22px;
        margin: 5px 0;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .text {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .image-slider-bt .svg-button {
        width: 30px;
        height: 30px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .image-slider-bt .svg-button svg {
        width: 12px;
    }
    .about_slider_section .slider_and_text_wrapper.flex_two {
        gap: 20px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .cdk-btn-green {
        width: 120px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap {
        margin-left: 20px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon {
        width: 50px;
        height: 50px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .ckd-call-text {
        margin-left: 15px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .ckd-call-text a {
        font-size: 14px;
        line-height: 18px;
        margin-top: 2px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .dots-image {
        max-width: 160px;
    }
    .management_section .management_wrapper {
        background: linear-gradient(280deg, rgba(0,0,0,1) 54%, rgba(16,58,58,1) 56%, rgba(8,25,35,1) 57%, rgba(16,58,58,1) 100%);
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .box {
        min-height: 325px;
    }
}
@media only screen and (max-width:767px) {
    .container {
        padding: 0 20px;
    }
    .about-banner-section .banner-image-wrap {
        display: none;
    }
    .about-banner-section .banner-image-wrap img.desktop {
        display: none;
    }
    .about-banner-section .banner-image-wrap img.mobile {
        display: block;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .box {
        min-height: 276px;
    }
    .management_section .management_wrapper .container.flex {
        flex-wrap: wrap;
        padding: 24px 20px 53px 20px;
        text-align: center;
    }
    .management_section .management_wrapper {
        background: linear-gradient(358deg, rgba(0,0,0,1) 40%, rgba(16,58,58,1) 41%, rgba(8,25,35,1) 42%, rgba(16,58,58,1) 100%);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .management_section .management_wrapper .container.flex .image_side {
        margin: 0 auto;
    }
    .management_section .management_wrapper .container.flex .text-side {
        max-width: 100%;
        margin-top: 64px;
    }
    .management_section .management_wrapper .container.flex .image_side .ceo_name {
        font-size: 22px;
        line-height: 25px;
    }
    .management_section .management_wrapper .container.flex .image_side .des_name {
        font-size: 16px;
        line-height: 20px;
    }
    .management_section .management_wrapper .container.flex .text-side .mange_heading {
        font-size: 25px;
        margin-bottom: 12px;
    }
    .management_section .management_wrapper .container.flex .text-side .manage_text {
        font-size: 16px;
        line-height: 25px;
    }
    .about_slider_section .slider_and_text_wrapper.flex_two {
        flex-wrap: wrap;
        gap: 40px;
    }
    .slider_and_text_wrapper .slider-side {
        width: 100%;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .heading {
        font-size: 25px;
        line-height: 30px;
        margin: 10px 0 12px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .text {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text {
        padding: 20px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .image-slider-bt .svg-button {
        width: 25px;
        height: 25px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-side .image-slider-items .image-slide .image-slide-text .image-slider-bt .svg-button svg {
        width: 12px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .ckd-call-text a {
        font-size: 14px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .dots-image {
        display: none;
    }
    .about_slider_section {
        padding: 20px 0;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .green-text {
        font-size: 18px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .primery-heading {
        margin: 10px 0 12px;
        font-size: 28px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .primery-text {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 20px
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-service-head {
        font-size: 20px;
        line-height: 22px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu {
        padding: 20px 10px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items {
        font-size: 16px;
        line-height: 16px;
        padding-left: 26px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items::after {
        content: url(../../assets/image/marker-sl-m.svg);
        width: 16px;
        height: 16px;
        top: 0;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-menu .slider-items:not(:last-child) {
        margin-bottom: 15px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons {
        margin-top: 6px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .cdk-btn-green {
        width: 120px;
        height: 45px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon {
        width: 40px;
        height: 40px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap {
        margin-left: 20px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon img {
        max-width: 16.66px;
    }
    .about_slider_section .slider_and_text_wrapper .slider-text-side .slider-buttons .call-cdk-wrap .call-icon::before {
        width: 45px;
        height: 45px;
    }
    .last-team-slider-section .team_slider_mobile.mobile img {
        width: 100%;
        display: none;
    }
    .last-team-slider-section .team_slider_title_wrap {
        margin-bottom: 30px;
    }
    .last-team-slider-section .team_slider_title_wrap .slider-title {
        font-size: 28px;
    }
    .last-team-slider-section {
        margin: 55px 0;
        padding-bottom: 0;
    }
}