.container {
    padding: 0 30px;
}
.main-title-section .main-title-wrap {
    padding: 220px 0 100px;
}
.main-title-section .main-title-wrap .cdk-buttons-wrap {
    margin-top: 40px;
}
.main-title-section .main-title-wrap .cdk-buttons-wrap .cdk-btn-green {
    margin-right: 20px;
}
.our-approach-section .container .about_cards_wrap {
    padding: 60px 0 100px;
}
.our-approach-section {
    margin: 100px 0;
}
.our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading {
    margin-bottom: 25px;
}
.our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-second-heading {
    color: #FFF;
    text-align: center;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 15px;
}
/*  */
.get-strat-section {
    padding-bottom: 200px;
}
.get-strat-section .strat-header-wrap {
    max-width: 650px;
    text-align: center;
}
.get-strat-section .strat-header-wrap .primery-heading {
    margin: 15px 0;
}
.get-strat-section .strat-image-wrap {
    margin: 60px 0 40px;
}
.get-strat-section .container .cdk-button-wrap {
    max-width: 160px;
}
.get-strat-section .strat-image-wrap img.desktop {
    display: block;
}
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box {
    max-height: 327px;
}

@media only screen and (min-width:992px) and (max-width:1024px) {
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text {
        font-size: 12px;
        line-height: 24px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading {
        font-size: 25px;
        line-height: 25px;
    }
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-second-heading {
        font-size: 18px;
        line-height: 22px;
    }
}
@media only screen and (max-width:767px) {
    .container {
        padding: 0 20px;
    }
    .main-title-section .main-title-wrap .cdk-buttons-wrap {
        margin-top: 20px;
    }
    .main-title-section .main-title-wrap .cdk-buttons-wrap .cdk-btn-green,
    .main-title-section .main-title-wrap .cdk-buttons-wrap .cdk-btn-white {
        max-width: 130px;
        height: 45px;
    }
    .service_section {
        padding: 0px 0px 55px;
    }
    .our-approach-section {
        margin: 10px 0 55px;
    }
    .our-approach-section .container .about_cards_wrap {
        padding: 30px 0 0px;
    }
    .get-strat-section {
        padding-bottom: 55px;
    }
    .get-strat-section .strat-header-wrap {
        text-align: left;
    }
    .get-strat-section .strat-header-wrap .green-text {
        font-size: 18px;
    }
    .get-strat-section .strat-header-wrap .primery-heading {
        font-size: 28px;
        margin: 10px 0 12px;
    }
    .get-strat-section .strat-image-wrap {
        margin: 30px 0 20px;
    }
    .get-strat-section .container .cdk-button-wrap {
        max-width: 120px;
    }
    .get-strat-section .container .cdk-button-wrap .cdk-btn-green {
        width: 120px;
        height: 45px;
    }
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading {
        margin-bottom: 24px;
    }
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-second-heading {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 12px;
    }
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .box .content {
        padding: 39px 20px 52px;
    }
    .get-strat-section .strat-image-wrap img.desktop {
        display: none;
    }
}