.ceo-section {
    background: url(../../assets/image/team-member/ceo-section-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: -1;
    padding: 92.44px 0 70.31px;
}
.ceo-section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 12, 22, 0.92);
    z-index: 0;
}
.container {
    padding: 0 30px;
}
.ceo-text-image-wraper.flex {
    position: relative;
    z-index: 2;
}
.ceo-section .ceo-text-image-wraper .ceo-text-wrap {
    width: 100%;
    max-width: 679px;
}
.ceo-section .ceo-text-image-wraper .ceo-text-wrap .main-heading {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    text-transform: capitalize;
}
.ceo-section .ceo-text-image-wraper .ceo-text-wrap .green-text {
    margin: 15px 0 20px;
}
.ceo-section .ceo-text-image-wraper .ceo-text-wrap .primery-text {
    font-family: var(--second-heading);
}
.ceo-section .ceo-text-image-wraper  .ceo-image-wrap {
    padding-right: 185px;
}
.ceo-section .ceo-text-image-wraper .ceo-image-wrap .ceo-back-img img,
.ceo-section .ceo-text-image-wraper .ceo-image-wrap .ceo-image img {
    display: block;
    width: 100%;
}
.ceo-section .ceo-text-image-wraper .ceo-image-wrap .ceo-back-img {
    position: relative;
}
.ceo-section .ceo-text-image-wraper .ceo-image-wrap .ceo-image {
    position: absolute;
    top: -22px;
    right: 117px;
}
/* second sec. */
.blogs-section {
    padding: 200px 0 ;
}
.hide {
    visibility: hidden;
}
.blogs-section .our_work_all_wrap {
    padding: 0;
}
.blogs-section .our_work_all_wrap .out-team-all-wrap {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}
.blogs-section .our_work_all_wrap .out-team-all-wrap .team-member-card {
    width: 100%;
    max-width: 23.914%;
    border-radius: 10px;
    border: 1px solid #37C8AE;
}
.blogs-section .our_work_all_wrap .out-team-all-wrap .team-member-card img {
    display: block;
}
.blogs-section .our_work_all_wrap .out-team-all-wrap .team-member-card  .card-detail-wrap {
    padding: 40px 0px 57px;
    text-align: center;
}
.blogs-section .our_work_all_wrap .out-team-all-wrap .team-member-card  .card-detail-wrap .member-name {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.blogs-section .our_work_all_wrap .out-team-all-wrap .team-member-card .card-detail-wrap .designation {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-transform: capitalize;
}
/* barrr */
.professional-team-section {
    margin-bottom: 200px;
}
.professional-team-section .professional-team-wrap {
    column-gap: 30px;
}
.professional-team-section .professional-team-wrap .professional-team-text {
    width: 100%;
    max-width: 583px;
}
.professional-team-section .professional-team-wrap .professional-team-text .main-heading {
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    margin: 15px 0;
}
.professional-team-section .professional-team-wrap .professional-team-text .primery-text {
    font-family: var(--second-heading);
    margin-bottom: 40px;
}
.professional-team-section .professional-team-wrap .professional-team-text .progress-bars-wrapper .progress-bar-wrap .bar-text {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 15px;
}
.professional-team-section .professional-team-wrap .professional-team-text .progress-bars-wrapper .progress-bar-wrap .barra {
    width: 100%;
    max-width: 563px;
    height: 25px;
    border-radius: 5px;
    background: #fff;
    position: relative;
}
.professional-team-section .professional-team-wrap .professional-team-text .progress-bars-wrapper .progress-bar-wrap .barra .barra-nivel {
    height:25px; 
    background:#37C8AE;
    border-radius: 5px;
    width:1px;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    transition: width 1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000;
    font-family: var(--second-heading);
    padding: 0 49px 0 38px;
}
.professional-team-section .professional-team-wrap .professional-team-text .progress-bars-wrapper .progress-bar-wrap .barra .barra-title-text {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 38px;
    color: #000;
    font-family: var(--second-heading);
}
.professional-team-section .professional-team-wrap .professional-team-text .progress-bars-wrapper .progress-bar-wrap:not(:first-child) {
    margin-top: 30px;
}
.professional-team-section .professional-team-wrap .professional-team-cards {
    width: 100%;
    max-width: 710px;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards {
    display: flex;
    justify-content: space-between;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap {
    width: 100%;
    max-width: 220px;
    height: 100%;
    border: 1px solid #37C8AE;
    border-radius: 10px;
    padding: 27px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 500ms ease-in-out;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap:hover {
    margin-top: -10px;
    cursor: pointer;
    /* box-shadow: 0px 12px 15px 0px #5ed8c2; */
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.two:hover {
    margin-top: 127px;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.two {
    margin-top: 137px;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.three {
    margin-top: 259px;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.three:hover {
    margin-top: 249px;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-img-wrap {
    width: 100%;
    max-width: 60px;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-img-wrap img{
    display: block;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-card-heading {
    color: #FFF;
    text-align: center;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    margin: 15px 0;
}
.professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-text {
    color: #FFF;
    text-align: center;
    font-family: var(--second-heading);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
@media only screen and (min-width:1280px) and (max-width:1366px) {
    .professional-team-section .professional-team-wrap .professional-team-text {
        width: 100%;
        max-width: 530px;
    }
    .professional-team-section .professional-team-wrap  .professional-team-cards .professional-cards .our-card-wrap {
        width: 100%;
        max-width: 210px;
        padding: 26px 10px;
    }
}
@media only screen and (max-width:1280px) {
    .ceo-section .ceo-text-image-wraper .ceo-image-wrap {
        padding-right: 160px;
    }
}
@media only screen and (max-width:1024px) {
    .ceo-section .ceo-text-image-wraper .ceo-image-wrap {
        padding-right: 50px;
    }
    .ceo-section .ceo-text-image-wraper .ceo-text-wrap {
        max-width: 500px;
    }
    .ceo-section .ceo-text-image-wraper .ceo-image-wrap .ceo-image {
        right: 0px;
    }
    .professional-team-section .professional-team-wrap .professional-team-text {
        max-width: 410px;
    }
    .professional-team-section .professional-team-wrap .professional-team-text .main-heading {
        margin: 10px 0;
        font-size: 48px;
    }
    .professional-team-section .professional-team-wrap .professional-team-text .primery-text {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 24px;
    }
    .professional-team-section .professional-team-wrap .professional-team-text .progress-bars-wrapper .progress-bar-wrap:not(:first-child) {
        margin-top: 20px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap  {
        max-width: 165px;
        padding: 13px 10px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap:not(:last-child) {
       margin-right: 15px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-img-wrap {
        max-width: 50px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-card-heading {
        font-size: 16px;
        line-height: 20px;
        margin: 10px 0;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-text {
        font-size: 14px;
        line-height: 20px;
    }
}
@media only screen and (max-width:991px) {
    .ceo-text-image-wraper {
        flex-wrap: wrap-reverse;
    }    
    .ceo-section .ceo-text-image-wraper .ceo-image-wrap {
        padding-right: 0px;
        margin:0 auto;
    }
    .ceo-section .ceo-text-image-wraper .ceo-text-wrap {
        max-width: 100%;
        text-align: center;
        margin-top: 35px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .ceo-section .ceo-text-image-wraper .ceo-image-wrap .ceo-img-mobile img {
        display: block;
        box-shadow: -10px 10px 0px 0px #37C8AE;
        border-radius: 10px;
        width: 100%;
    }
    .ceo-section .ceo-text-image-wraper .ceo-text-wrap .main-heading {
        font-size: 50px;
    }
    .blogs-section .our_work_all_wrap .out-team-all-wrap .team-member-card {
        width: 100%;
        max-width: 32%;
        border-radius: 10px;
        border: 1px solid #37C8AE;
    }
    .professional-team-section .professional-team-wrap {
        column-gap: 0;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .professional-team-section .professional-team-wrap .professional-team-text {
        max-width: 100%;
    }
    .professional-team-section .professional-team-wrap .professional-team-text .main-heading {
        font-size: 60px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap {
        max-width: 220px;
        padding: 27px 21px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap:not(:last-child) {
        margin-right: 0;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-img-wrap {
        width: 100%;
        max-width: 60px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-card-heading {
        font-size: 20px;
        line-height: 25px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap .our-text {
        font-size: 16px;
        line-height: 27px;
    }
}
@media only screen and (max-width:767px) {
    .ceo-section .ceo-text-image-wraper .ceo-text-wrap .main-heading {
        font-size: 28px;
        line-height: 34px;
    }
    .container {
        padding: 0 20px;
    }
    .ceo-section {
        padding: 70px 0px;
        background: url(../../assets/image/team-member/ceo-section-background-mobile.png);
    }
    .ceo-section .ceo-text-image-wraper .ceo-text-wrap .green-text {
        margin: 10px 0 15px;
        font-size: 16px;
    }
    .ceo-section .ceo-text-image-wraper .ceo-text-wrap .primery-text {
        font-size: 16px;
        line-height: 25px;
    }
    .blogs-section .our_work_all_wrap .out-team-all-wrap .team-member-card {
        width: 100%;
        max-width: 84.62%;
        margin: 0 auto;
    }
    .hide {
        visibility: hidden;
        display: none;
    }
    .blogs-section {
        padding: 55px 0;
    }
    .professional-team-section .professional-team-wrap {
        row-gap: 30px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.one,
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.two,
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.three {
        margin-top: 20px;
    }
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.one:hover,
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.two:hover,
    .professional-team-section .professional-team-wrap .professional-team-cards .professional-cards .our-card-wrap.three:hover {
        margin-top: 10px;
    }
    .professional-team-section {
        margin-top: 20px;
        margin-bottom: 55px;
    }
}