<section class="ceo-section">
    <div class="container">
        <div class="ceo-text-image-wraper flex space-between">
            <div class="ceo-text-wrap">
                <h1 class="main-heading">Saurabh Sharma</h1>
                <h3 class="green-text">Managing Director & CEO</h3>
                <p class="primery-text">
                    As the Managing Director & CEO of codesdesk, I am responsible for overseeing the strategic direction and day-to-day operations of the company. My primary focus is on driving growth, fostering innovation, and ensuring customer satisfaction. I work closely with our team of developers and designers to deliver high-quality software solutions that meet the needs of our clients. My goal is to position codesdesk as a leading player in the technology industry by providing exceptional products and services that exceed our clients' expectations.
                </p>
            </div>
            <div class="ceo-image-wrap desktop">
                <div class="ceo-back-img">
                    <img src="../../assets/image/team-member/ceo-back.webp" alt="back">
                </div>
                <div class="ceo-image">
                    <img src="../../assets/image/team-member/ceo.webp" alt="">
                </div>
            </div>
            <div class="ceo-image-wrap mobile">
                <div class="ceo-img-mobile">
                    <img src="../../assets/image/team-member/ceo-mobile.webp" alt="back">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blogs-section">
    <div class="container">
        <div class="our_work_all_wrap">
            <h3 class="green-text">our teams</h3>
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h2>Meet our skilled team</h2>
                </div>
                <div class="service-text">
                    <p>
                        At Codesdesk Technology, we pride ourselves on having a talented and experienced team of developers, designers, and project managers. Our experts possess a deep understanding of various programming languages, frameworks, and technologies, allowing us to deliver high-quality software solutions that meet our clients' unique requirements.
                    </p>
                </div>
            </div>
            <div class="all-team-cards-wrapper flex">
                <div class="card member-card">
                    <div class="content">
                        <div class="front">
                            <img src="../../assets/image/team-member/tanish.webp" width="100%" alt="tanish">
                            <div class="card-member-detail">
                                <h4 class="member-name">Tanish Kumar</h4>
                                <p class="designation">Senior Developer</p>
                            </div>
                        </div>
                        <div class="back">
                            <h4 class="member-name">Tanish Kumar</h4>
                            <p class="designation-back">Senior Developer</p>
                            <p class="discription-member">
                                Tanish Kumar, an accomplished senior developer, excels in crafting innovative and scalable solutions, showcasing expertise in various coding languages. With a collaborative approach and effective communication, he consistently delivers high-quality projects that exceed expectations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card member-card">
                    <div class="content">
                        <div class="front">
                            <img src="../../assets/image/team-member/abhinav.webp" width="100%" alt="abhinav">
                            <div class="card-member-detail">
                                <h4 class="member-name">Abhinav Thakur</h4>
                                 <p class="designation">Senior Developer</p>
                            </div>
                        </div>
                        <div class="back">
                            <h4 class="member-name">Abhinav Thakur</h4>
                            <p class="designation-back">Senior Developer</p>
                            <p class="discription-member">
                                Abhinav Thakur, a distinguished senior developer, stands out for his exceptional proficiency in coding and a strategic approach to software development. With a keen eye for detail, he consistently delivers cutting-edge solutions, showcasing a deep understanding of various programming languages
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card member-card">
                    <div class="content">
                        <div class="front">
                            <img src="../../assets/image/team-member/chota-don.webp" width="100%" alt="arushi">
                            <div class="card-member-detail">
                                <h4 class="member-name">Arushi sharma</h4>
                                <p class="designation">Senior Web designer</p>
                            </div>
                        </div>
                        <div class="back">
                            <h4 class="member-name">Arushi sharma</h4>
                            <p class="designation-back">Senior Web designer</p>
                            <p class="discription-member">
                                Arushi Sharma, a seasoned Senior Web Designer, brings creativity and technical prowess to every project she undertakes. With a flair for innovative and visually stunning designs, Arushi has consistently elevated user experiences, leaving a lasting impact. Her meticulous attention to detail,.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card member-card">
                    <div class="content">
                        <div class="front">
                            <img src="../../assets/image/team-member/amit.webp" width="100%" alt="amit">
                            <div class="card-member-detail">
                                <h4 class="member-name">Anit Kumar Singh</h4>
                                <p class="designation">Web & graphic designer</p>
                            </div>
                        </div>
                        <div class="back">
                            <h4 class="member-name">Anit Kumar Singh</h4>
                            <p class="designation-back">Web & graphic designer</p>
                            <p class="discription-member">
                                Amit Kumar Singh, a versatile Web & Graphic Designer, stands out for his unique blend of creativity and technical expertise. With an eye for detail and a passion for innovative design, Amit consistently delivers visually striking and user-centric solutions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card member-card">
                    <div class="content">
                        <div class="front">
                            <img src="../../assets/image/team-member/indersain.webp" width="100%" alt="inder">
                            <div class="card-member-detail">
                                <h4 class="member-name">Inder Suthar</h4>
                                <p class="designation">Front-end developer</p>
                            </div>
                        </div>
                        <div class="back">
                            <h4 class="member-name">Inder Suthar</h4>
                            <p class="designation-back">Front-end developer</p>
                            <p class="discription-member">
                                Inder Suthar, an adept Front-end Developer, is distinguished by his skillful coding and commitment to creating seamless user interfaces. With a keen understanding of the latest web technologies, Inder transforms design concepts into interactive and visually appealing websites.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card member-card">
                    <div class="content">
                        <div class="front">
                            <img src="../../assets/image/team-member/vikash.webp" width="100%" alt="tanish">
                            <div class="card-member-detail">
                                <h4 class="member-name">Vikas Kumar</h4>
                                <p class="designation">Web designer</p>
                            </div>
                        </div>
                        <div class="back">
                            <h4 class="member-name">Vikas Kumar</h4>
                            <p class="designation-back">Web designer</p>
                            <p class="discription-member">
                                Vikas Thakur, an accomplished Web Designer, brings a fusion of creativity and technical prowess to every project. With a keen eye for aesthetics and a deep understanding of user experience, Vikas consistently produces visually stunning and functional designs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card member-card">
                    <div class="content">
                        <div class="front">
                            <img src="../../assets/image/team-member/loveleen.webp" width="100%" alt="loveleen">
                            <div class="card-member-detail">
                                <h4 class="member-name">Loveleen Kaur</h4>
                                <p class="designation">Web designer</p>
                            </div>
                        </div>
                        <div class="back">
                            <h4 class="member-name">Loveleen Kaur</h4>
                            <p class="designation-back">Web designer</p>
                            <p class="discription-member">
                                Loveleen Kaur, a highly skilled Web Designer, is celebrated for her ability to blend artistic creativity with technical precision. With an innate sense of design aesthetics, Loveleen consistently delivers websites that captivate and engage users.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="professional-team-section">
    <div class="container">
        <div class="professional-team-wrap flex_two">
            <div class="professional-team-text">
                <h3 class="green-text">professional team</h3>
                <h2 class="main-heading">Why We Different</h2>
                <p class="primery-text">At codesdesk, our team of experienced developers and designers work collaboratively to deliver high-quality software solutions that meet the unique needs of our clients.</p>
                <div class="progress-bars-wrapper">
                    <div class="progress-bar-wrap">
                        <h4 class="bar-text">Technical Skill</h4>
                       <div class="barra">
                        <span class="barra-title-text">Great</span>
                        <span class="persent" data-progress="90"></span>
                       </div>
                    </div>
                    <div class="progress-bar-wrap">
                        <h4 class="bar-text">Creativity</h4>
                       <div class="barra">
                        <span class="barra-title-text">Great</span>
                        <span class="persent" data-progress="80"></span>
                       </div>
                    </div>
                    <div class="progress-bar-wrap">
                        <h4 class="bar-text">Teamwork</h4>
                       <div class="barra">
                        <span class="barra-title-text">Great</span>
                        <span class="persent" data-progress="95"></span>
                       </div>
                    </div>
                </div>
            </div>
            <div class="professional-team-cards">
                <div class="professional-cards">
                    <div class="our-card-wrap one">
                        <div class="our-img-wrap">
                            <img class="our-image" width="100%" src="../../assets/image/our-card-icon.webp" alt="icon">
                        </div>
                        <h4 class="our-card-heading">Our Expertise</h4>
                        <p class="our-text">Unparalleled expertise fuels our team, our expert execution.</p>
                    </div>
                    <div class="our-card-wrap two">
                        <div class="our-img-wrap">
                            <img class="our-image" width="100%" src="../../assets/image/our-card-icon2.webp" alt="icon">
                        </div>
                        <h4 class="our-card-heading">Our Quality</h4>
                        <p class="our-text">Prioritize quality assurance at every stage</p>
                    </div>
                    <div class="our-card-wrap three">
                        <div class="our-img-wrap">
                            <img class="our-image" width="100%" src="../../assets/image/our-card-icon3.webp" alt="icon">
                        </div>
                        <h4 class="our-card-heading">Our Innovation</h4>
                        <p class="our-text">Our professional team embraces innovation as a cornerstone.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>