<section class="ceo-section">
    <div class="container">
        <div class="ceo-text-image-wraper flex space-between">
            <div class="ceo-text-wrap">
                <h1 class="main-heading">Saurabh Sharma</h1>
                <h3 class="green-text">Managing Director & CEO</h3>
                <p class="primery-text">
                    As the Managing Director & CEO of codesdesk, I am responsible for overseeing the strategic direction and day-to-day operations of the company. My primary focus is on driving growth, fostering innovation, and ensuring customer satisfaction. I work closely with our team of developers and designers to deliver high-quality software solutions that meet the needs of our clients. My goal is to position codesdesk as a leading player in the technology industry by providing exceptional products and services that exceed our clients' expectations.
                </p>
            </div>
            <div class="ceo-image-wrap desktop">
                <div class="ceo-back-img">
                    <img src="../../assets/image/team-member/ceo-back.png" alt="back">
                </div>
                <div class="ceo-image">
                    <img src="../../assets/image/team-member/ceo.png" alt="">
                </div>
            </div>
            <div class="ceo-image-wrap mobile">
                <div class="ceo-img-mobile">
                    <img src="../../assets/image/team-member/ceo-mobile.png" alt="back">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blogs-section">
    <div class="container">
        <div class="our_work_all_wrap">
            <h3 class="green-text">our teams</h3>
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h2>Meet our skilled team</h2>
                </div>
                <div class="service-text">
                    <p>
                        At Codesdesk Technology, we pride ourselves on having a talented and experienced team of developers, designers, and project managers. Our experts possess a deep understanding of various programming languages, frameworks, and technologies, allowing us to deliver high-quality software solutions that meet our clients' unique requirements.
                    </p>
                </div>
            </div>
            <div class="out-team-all-wrap flex">
                <div class="team-member-card">
                    <img src="../../assets/image/team-member/tanish.png" width="100%" alt="tanish">
                    <div class="card-detail-wrap">
                        <h4 class="member-name">Tanish Kumar</h4>
                        <p class="designation">Senior Developer</p>
                    </div>
                </div>
                <div class="team-member-card">
                    <img src="../../assets/image/team-member/abhinav.png" width="100%" alt="tanish">
                    <div class="card-detail-wrap">
                        <h4 class="member-name">Abhinav Thakur</h4>
                        <p class="designation">Senior Developer</p>
                    </div>
                </div>
                <div class="team-member-card">
                    <img src="../../assets/image/team-member/chota-don.png" width="100%" alt="tanish">
                    <div class="card-detail-wrap">
                        <h4 class="member-name">Arushi sharma</h4>
                        <p class="designation">Senior Web designer</p>
                    </div>
                </div>
                <div class="team-member-card">
                    <img src="../../assets/image/team-member/amit.png" width="100%" alt="tanish">
                    <div class="card-detail-wrap">
                        <h4 class="member-name">Anit Kumar Singh</h4>
                        <p class="designation">Web & graphic designer</p>
                    </div>
                </div>
                <div class="team-member-card">
                    <img src="../../assets/image/team-member/indersain.png" width="100%" alt="tanish">
                    <div class="card-detail-wrap">
                        <h4 class="member-name">Inder Suthar</h4>
                        <p class="designation">Front-end developer</p>
                    </div>
                </div>
                <div class="team-member-card">
                    <img src="../../assets/image/team-member/vikash.png" width="100%" alt="tanish">
                    <div class="card-detail-wrap">
                        <h4 class="member-name">Vikas Kumar</h4>
                        <p class="designation">Web designer</p>
                    </div>
                </div>
                <div class="team-member-card">
                    <img src="../../assets/image/team-member/loveleen.png" width="100%" alt="tanish">
                    <div class="card-detail-wrap">
                        <h4 class="member-name">Loveleen Kaur</h4>
                        <p class="designation">Web designer</p>
                    </div>
                </div>
                <div class="team-member-card hide">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="professional-team-section">
    <div class="container">
        <div class="professional-team-wrap flex_two">
            <div class="professional-team-text">
                <h3 class="green-text">professional team</h3>
                <h2 class="main-heading">Why We Different</h2>
                <p class="primery-text">At codesdesk, our team of experienced developers and designers work collaboratively to deliver high-quality software solutions that meet the unique needs of our clients.</p>
                <div class="progress-bars-wrapper">
                    <div class="progress-bar-wrap">
                        <h4 class="bar-text">Technical Skill</h4>
                       <div class="barra">
                        <div class="barra-nivel" data-nivel="90%">
                        </div>
                        <span class="barra-title-text">Great</span>
                       </div>
                    </div>
                    <div class="progress-bar-wrap">
                        <h4 class="bar-text">Technical Skill</h4>
                       <div class="barra">
                        <div class="barra-nivel" data-nivel="80%">
                        </div>
                        <span class="barra-title-text">Great</span>
                       </div>
                    </div>
                    <div class="progress-bar-wrap">
                        <h4 class="bar-text">Technical Skill</h4>
                       <div class="barra">
                        <div class="barra-nivel" data-nivel="95%">
                        </div>
                        <span class="barra-title-text">Great</span>
                       </div>
                    </div>
                </div>
            </div>
            <div class="professional-team-cards">
                <div class="professional-cards">
                    <div class="our-card-wrap one">
                        <div class="our-img-wrap">
                            <img class="our-image" width="100%" src="../../assets/image/our-card-icon.png" alt="icon">
                        </div>
                        <h4 class="our-card-heading">Our Expertise</h4>
                        <p class="our-text">Molestie interdum tristique cursus class eros elit natoque dui ut.</p>
                    </div>
                    <div class="our-card-wrap two">
                        <div class="our-img-wrap">
                            <img class="our-image" width="100%" src="../../assets/image/our-card-icon2.png" alt="icon">
                        </div>
                        <h4 class="our-card-heading">Our Quality</h4>
                        <p class="our-text">Molestie interdum tristique cursus class eros elit natoque dui ut.</p>
                    </div>
                    <div class="our-card-wrap three">
                        <div class="our-img-wrap">
                            <img class="our-image" width="100%" src="../../assets/image/our-card-icon3.png" alt="icon">
                        </div>
                        <h4 class="our-card-heading">Our Innovation</h4>
                        <p class="our-text">Molestie interdum tristique cursus class eros elit natoque dui ut.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>