<section id="service-main" class="main-title-section space-top-p">
    <div id="container" class="container">
        <div class="main-title-wrap">
            <h3 class="green-text">shopify Internationalization</h3>
            <h1 class="main-heading">Internationalization service</h1>
            <p class="primery-text">
                Unlock global success for your Shopify store with our Internationalization Service. We specialize in crafting multilingual themes, seamless currency conversions, and precise geolocation integration. From language preferences to localized shopping experiences, we ensure your store speaks to customers worldwide. Expand your market reach, enhance user engagement, and elevate your international e-commerce game with our expert Shopify services. 
            </p>
            <div class="cdk-buttons-wrap flex">
                <a class="cdk-btn-green" routerLinkActive="active" routerLink="/contact">contact us</a>
                <a class="cdk-btn-white" (click)="scroll(target)">Our approach</a>
            </div>
        </div>
    </div>
</section>
<section id="service-two" class="service_section">
    <div class="service_all_wrap container-second">
        <h3 class="green-text">Global Commerce Expertise</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>Globalize Your Shopify Store for Success</h2>
            </div>
            <div class="service-text">
                <p class="p-text">
                    Transform your Shopify store into a global powerhouse with our internationalization expertise. From multilingual capabilities to strategic currency adaptations, we tailor your platform for international success. Expand your reach, engage diverse audiences, and boost conversions across borders. Elevate your Shopify presence and thrive in the global e-commerce landscape.
                </p>
            </div>
        </div>
        <div class="container-two">
            <div class="all-items-wrapper">
                <h3 class="c-2-heading">
                    internationalization services for a Shopify store
                </h3>
                <ol class="order-list">
                    <li class="order-item">Multilingual Theme Customization</li>
                    <li class="order-item">Currency Conversion</li>
                    <li class="order-item">Geolocation Integration</li>
                    <li class="order-item">International Shipping Options</li>
                    <li class="order-item">Diverse Payment Gateways</li>
                    <li class="order-item">Legal Compliance Assistance</li>
                    <li class="order-item">Responsive Design Optimization</li>
                    <li class="order-item">Multi-language SEO</li>
                    <li class="order-item">Cross-Border Marketing Strategy</li>
                    <li class="order-item">Ongoing Support and Maintenance</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="service-three" class="service-bacground-section">
</section>
<section id="service-four" class="our-approach-section" #target>
    <div id="container" class="container">
        <h3 class="green-text">our Internationalization Service Approach</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>Crafting Global Success</h2>
            </div>
            <div class="service-text">
                <p class="p-text">
                    Our Internationalization Service Approach revolves around seamlessly integrating multilingual capabilities and currency adaptability, ensuring a tailored and engaging experience for a global audience.
                </p>
            </div>
        </div>
        <div class="about_cards_wrap flex">
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Holistic Multilingual Integration</h3>
                    <p class="card-text">
                        We prioritize a comprehensive approach to seamlessly integrate multilingual capabilities, ensuring that your Shopify store is accessible and appealing to diverse language speakers.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Strategic Currency Adaptability</h3>
                    <p class="card-text">
                        Our approach involves implementing strategic currency conversions, allowing customers to view and transact in their local currencies, enhancing user convenience and trust.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Precision in Geolocation Features</h3>
                    <p class="card-text">
                        We emphasize precise geolocation integration, automatically adjusting language, currency, and other settings based on a visitor's location for a personalized and user-friendly experience.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service-five" class="service-inner-slider">
    <div id="container" class="container">
        <div class="service-slider-head">
            <h2 class="slider-heading">
                Contact us for following website design needs
            </h2>
        </div>
        <div class="all-text-slide-wrap flex-center">
            <div class="slider-left-text">
                <div class="slide-text slide-text-one flex-center">
                    <h3 class="side-txt">Custom Web Design</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left1.webp" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="slide-text slide-text-two flex-center">
                    <h3 class="side-txt">Web Re-Designing</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left2.webp" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="slide-text slide-text-three flex-center">
                    <h3 class="side-txt">Responsive Website Design</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left3.webp" width="100%" alt="asdf">
                    </div>
                </div>
            </div>
            <div class="slider-all-img">
                <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="picsliderConfig">
                    <img src="../../assets/image/servicre-inner/web-design-mg.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg2.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg3.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg4.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                </ngx-slick-carousel>
            </div>
            <div class="slider-right-text">
                <div class="slide-text-r slide-text-one flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r1.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">E-Commerce Website Design</h3>
                </div>
                <div class="slide-text-r slide-text-two flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r2.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Graphic Design</h3>
                </div>
                <div class="slide-text-r slide-text-three flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r3.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Mobile-First Design</h3>
                </div>
            </div>
        </div>
    </div>
</section>