#service-main.main-title-section {
    /* background: url(../../assets/image/servicre-inner/service-inner-design2.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 176.8px 0 87px;
}
.c-2-heading.last {
    margin-top: 50px;
    margin-bottom: 15px;
}
.primery-text {
    font-family: var(--second-heading);
}
#service-three.service-bacground-section {
    background: url(../../assets/image/servicre-inner/service-detail-bacground2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
}