<section id="service-main" class="main-title-section">
    <div id="container" class="container">
        <div class="main-title-wrap">
            <h3 class="green-text">Shopify Web development</h3>
            <h1 class="main-heading">our Shopify development service</h1>
            <p class="primery-text">
                In the realm of e-commerce, our Shopify web development service stands as a beacon of expertise, offering comprehensive solutions tailored to meet the unique demands of your business. From the initial conceptualization to the final implementation, we are committed to elevating your online presence and ensuring a seamless shopping experience for your customers. 
            </p>
            <div class="cdk-buttons-wrap flex">
                <a class="cdk-btn-green" routerLinkActive="active" routerLink="/contact">contact us</a>
                <a class="cdk-btn-white" (click)="scroll(target)">Our approach</a>
            </div>
        </div>
    </div>
</section>
<section id="service-two" class="service_section">
    <div class="service_all_wrap container-second">
        <h3 class="green-text">Shopify development</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>Elevate your business with Shopify Mastery.</h2>
            </div>
            <div class="service-text">
                <p>
                    Elevate Your Business with Shopify Mastery" signifies our dedication to optimizing your online success. Our Shopify web development service tailors advanced solutions, blending intuitive design and robust functionality to create a compelling e-commerce platform. Trust us to enhance your brand's digital presence, driving growth and customer engagement.
                </p>
            </div>
        </div>
        <div class="container-two">
            <div class="all-items-wrapper">
                <h3 class="c-2-heading">
                    OUR E-COMMERCE WEB DEVELOPMENT SERVICES
                </h3>
                <ol class="order-list">
                    <li class="order-item">Tailored Shopify Solutions</li>
                    <li class="order-item">Responsive Design</li>
                    <li class="order-item">Optimized User Experience</li>
                    <li class="order-item">Efficient Product Management</li>
                    <li class="order-item">Secure Payment Gateways</li>
                    <li class="order-item">Scalability and Flexibility</li>
                    <li class="order-item">Search Engine Optimization (SEO)</li>
                    <li class="order-item">Robust Analytics and Reporting</li>
                    <li class="order-item">Third-Party Integrations</li>
                    <li class="order-item">Ongoing Support and Maintenance</li>
                </ol>
                <h3 class="c-2-heading">
                    TECHNOLOGIES WE USE
                </h3>
                <ul class="unorder-list">
                    <li class="unorder-items">Liquid</li>
                    <li class="unorder-items">HTML5/CSS3</li>
                    <li class="unorder-items">JavaScript/jQuery</li>
                    <li class="unorder-items">Shopify API</li>
                    <li class="unorder-items">GraphQL</li>
                    <li class="unorder-items">SASS/SCSS</li>
                    <li class="unorder-items">React/Vue.js</li>
                    <li class="unorder-items">Node.js</li>
                    <li class="unorder-items">MySQL/PostgreSQL</li>
                    <li class="unorder-items">Git</li>
                </ul>
                <h3 class="c-2-heading last">
                    TECHNOLOGIES WE USE
                </h3>
                <p class="primery-text">
                    Experience unparalleled e-commerce innovation with "OUR BESPOKE CUSTOM FRAMEWORK" for Shopify. Tailored for your unique business needs, this custom framework ensures a distinctive, high-performance online store, surpassing standard Shopify capabilities. Elevate your brand with advanced features, enhanced security, and a seamless user experience, setting your store apart in the digital marketplace.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="service-three" class="service-bacground-section">
</section>
<section id="service-four" class="our-approach-section" #target>
    <div id="container" class="container">
        <h3 class="green-text">Our Approach</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>How we approach website development</h2>
            </div>
            <div class="service-text">
                <p>
                    In our Shopify development approach, we conduct a thorough analysis of your business goals and target audience, shaping a tailored strategy. Leveraging Shopify's robust features, we implement a user-friendly and scalable e-commerce solution, ensuring your online store not only meets but exceeds your expectations in the dynamic digital landscape
                </p>
            </div>
        </div>
        <div class="about_cards_wrap flex">
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Discovery</h3>
                    <p class="card-text">
                        In the discovery phase of web development, we delve into understanding your business goals and audience needs. This crucial step guides the strategic planning and customization of your online presence.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Quality Assurance</h3>
                    <p class="card-text">
                        Our Shopify quality assurance ensures meticulous testing and validation, guaranteeing a flawless and secure online shopping experience for your customers, reinforcing trust and satisfaction with your brand.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Post Launch Support</h3>
                    <p class="card-text">
                        Our post-launch support in web development ensures ongoing optimization, security updates, and responsive assistance, ensuring your website remains at its best long after the initial launch, providing a seamless and reliable user experience.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service-five" class="service-inner-slider">
    <div id="container" class="container">
        <div class="service-slider-head">
            <h2 class="slider-heading">
                Contact us for following website design needs
            </h2>
        </div>
        <div class="all-text-slide-wrap flex-center">
            <div class="slider-left-text">
                <div class="slide-text slide-text-one flex-center">
                    <h3 class="side-txt">Custom Web Design</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left1.png" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="slide-text slide-text-two flex-center">
                    <h3 class="side-txt">Web Re-Designing</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left2.png" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="slide-text slide-text-three flex-center">
                    <h3 class="side-txt">Responsive Website Design</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left3.png" width="100%" alt="asdf">
                    </div>
                </div>
            </div>
            <div class="slider-all-img">
                <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="picsliderConfig">
                    <img src="../../assets/image/servicre-inner/web-design-mg.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg2.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg3.png" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg4.png" width="100%" alt="web-design-mg" ngxSlickItem>
                </ngx-slick-carousel>
            </div>
            <div class="slider-right-text">
                <div class="slide-text-r slide-text-one flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r1.png" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">E-Commerce Website Design</h3>
                </div>
                <div class="slide-text-r slide-text-two flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r2.png" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Graphic Design</h3>
                </div>
                <div class="slide-text-r slide-text-three flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r3.png" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Mobile-First Design</h3>
                </div>
            </div>
        </div>
    </div>
</section>