<section class="privacy-policy space-top-m">
    <div class="container">
        <div class="privacy-heading-and-text-wrap flex_two">
            <div class="heading-container">
                <h1 class="policy-heading">Privacy & Policy</h1>
            </div>
            <div class="peivacy-txt-container">
                <p class="primery-text">
                    This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.
                </p>
                <p class="primery-text">
                    We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of the Privacy Policy Generator.
                </p>
                <h2 class="policy-second-heading">
                    Interpretation and Definitions
                </h2>
                <h3 class="policy-green-text">
                    Interpretation
                </h3>
                <p class="primery-text">
                    The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
                </p>
                <h3 class="policy-green-text">
                    Definitions
                </h3>
                <p class="primery-text">
                    For the purposes of this Privacy Policy:
                </p>
                <ul class="policy-list">
                    <li class="list-item primery-text">
                        Account means a unique account created for You to access our Service or parts of our Service.
                    </li>
                    <li class="list-item primery-text">
                        Company (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to Codesdesk Technology Private Limited, #407 Tower A, Bestech Business Tower, Sector 66 Mohali.
                    </li>
                    <li class="list-item primery-text">
                        Country refers to: Punjab, India.
                    </li>
                </ul>
                <h2 class="policy-second-heading">
                    Collecting and Using Your Personal Data
                </h2>
                <h3 class="policy-green-text">
                    Types of Data Collected
                </h3>
                <h4 class="policy-h4-heading">
                    Personal Data
                </h4>
                <p class="primery-text">
                    While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:
                </p>
                <ul class="policy-list">
                    <li class="list-item primery-text">
                        Email address
                    </li>
                    <li class="list-item primery-text">
                        First name and last name
                    </li>
                    <li class="list-item primery-text">
                        Usage Data
                    </li>
                </ul>
                <h4 class="policy-h4-heading">
                    Tracking Technologies and Cookies
                </h4>
                <p class="primery-text">
                    We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. The technologies We use may include:
                </p>
                <ul class="policy-list">
                    <li class="list-item primery-text">
                        <span>
                            Cookies or Browser Cookies:-
                        </span> A cookie is a small file placed on Your Device. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service. Unless you have adjusted Your browser setting so that it will refuse Cookies, our Service may use Cookies.
                    </li>
                    <li class="list-item primery-text">
                        <span>
                            Web Beacons:-
                        </span> Certain sections of our Service and our emails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or opened an email and for other related website statistics (for example, recording the popularity of a certain section and verifying system and server integrity)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>