<section class="blogs-section">
    <div class="container">
        <div class="our_work_all_wrap">
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h3>Latest News</h3>
                    <h2>From Industry Insights to Personal Growth</h2>
                </div>
                <div class="service-text">
                    <p>
                        Our Shopify design service offers a comprehensive solution for businesses looking to create a visually appealing and user-friendly online store. Our team of experienced designers and developers work closely with clients to understand their brand and target audience, resulting in a customized storefront that reflects their unique style and values. 
                    </p>
                </div>
            </div>
            <div class="blog_cards_wrapper flex" id="blogFilter">
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-one.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-two.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-three.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-four.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-five.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-six.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-seven.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-eight.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-nine.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-one.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-two.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-three.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-four.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-five.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-six.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-seven.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-eight.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-nine.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-seven.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-eight.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-nine.png" alt="blog">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 20, 2021</h3>
                        <p>We provide creative and innovative Digital services</p>
                    </div>
                </a>
                <div class="cdk-button-wrap margin-auto"  id="loadMore">
                    <a class="cdk-btn-green" href="javascript:void(0)">Load more</a>
                </div>
            </div>
        </div>
    </div>
</section>
