
<section class="blogs-section">
    <div class="container">
        <div class="our_work_all_wrap">
            <h1 class="green-text">Latest News</h1>
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h2>From Industry Insights to Personal Growth</h2>
                </div>
                <div class="service-text">
                    <p>
                        Our Shopify design service offers a comprehensive solution for businesses looking to create a visually appealing and user-friendly online store. Our team of experienced designers and developers work closely with clients to understand their brand and target audience, resulting in a customized storefront that reflects their unique style and values. 
                    </p>
                </div>
            </div>
            <div class="blog-tab-section">
                <div class="container">
                   <div class="blog-tab-main">
                        <form class="blog-search flex-center">
                            <input type="search" id="myInput" placeholder="Search....." name="search">
                            <span class="search-input-btn flex-center"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.5998 2.3999C6.64915 2.3999 1.7998 7.24925 1.7998 13.1999C1.7998 19.1506 6.64915 23.9999 12.5998 23.9999C14.7729 23.9999 16.7952 23.3483 18.492 22.2374L26.0271 29.7726L28.5725 27.2272L21.1346 19.7894C22.5487 17.9629 23.3998 15.6807 23.3998 13.1999C23.3998 7.24925 18.5505 2.3999 12.5998 2.3999ZM12.5998 4.7999C17.2535 4.7999 20.9998 8.54616 20.9998 13.1999C20.9998 17.8536 17.2535 21.5999 12.5998 21.5999C7.94606 21.5999 4.1998 17.8536 4.1998 13.1999C4.1998 8.54616 7.94606 4.7999 12.5998 4.7999Z" fill="white"/>
                                </svg>
                            </span>
                        </form>
                        <div class="no-records " style="display: none; ">
                            <p>No record found.</p>
                        </div>  
                   </div>
                   <div class="blog-filter-tab">
                    <ul class="filter-tab-wrap flex-center desktop">
                        <li class="filter-tab-list active" data-value="all">
                            <span class="green-btn-text">All</span>
                        </li>
                        <li class="filter-tab-list" data-value="shopify-apps">
                            <span class="green-btn-text">Shopify Apps</span>
                        </li>
                        <li class="filter-tab-list" data-value="Shopify">
                            <span class="green-btn-text">Shopify</span>
                        </li>
                        <li class="filter-tab-list" data-value="Ux/Ui">
                            <span class="green-btn-text">Ux/Ui</span>
                        </li> 
                        <li class="filter-tab-list" data-value="E-commerce">
                            <span class="green-btn-text">E-commerce</span>
                        </li>
                        <li class="filter-tab-list" data-value="seo">
                            <span class="green-btn-text">Seo</span>
                        </li>
                    </ul>
                    <ul class="filter-tab-wrap flex-center mobile">
                        <ngx-slick-carousel class="b_f_btn" #slickModal="slick-carousel" [config]="blogList">
                            <li ngxSlickItem class="filter-tab-list active" data-value="all">
                                <span class="green-btn-text">All</span>
                            </li>
                            <li ngxSlickItem class="filter-tab-list" data-value="shopify-apps">
                                <span class="green-btn-text">Shopify Apps</span>
                            </li>
                            <li ngxSlickItem class="filter-tab-list" data-value="Shopify">
                                <span class="green-btn-text">Shopify</span>
                            </li>
                            <li ngxSlickItem class="filter-tab-list" data-value="Ux/Ui">
                                <span class="green-btn-text">Ux/Ui</span>
                            </li> 
                            <li ngxSlickItem class="filter-tab-list" data-value="E-commerce">
                                <span class="green-btn-text">E-commerce</span>
                            </li>
                            <li ngxSlickItem class="filter-tab-list" data-value="seo">
                                <span class="green-btn-text">Seo</span>
                            </li>
                        </ngx-slick-carousel>
                    </ul>
                </div>
                </div>
            </div>
            <div class="blog_cards_wrapper flex" id="blogFilter">
                <a routerLink="/resource/the-best-methods-to-send-customer-account-invites-in-shopify-after-migration" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-fifteen.webp" alt="blog-fourteen">
                    </div>
                    <div class="blog-title-text">
                        <h3>August 13, 2023</h3>
                        <p>The Best Methods to Send (Bulk) Customer Account Invites in Shopify After Migration</p>
                    </div>
                </a>
                <a routerLink="/resource/maximising-roi-multi-facebook-pixels" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-fourteen.webp" alt="blog-fourteen">
                    </div>
                    <div class="blog-title-text">
                        <h3>July 30, 2023</h3>
                        <p>Maximising ROI multi facebook pixels</p>
                    </div>
                </a>
                <a routerLink="/resource/the-impact-of-a-countdown-timer-bar-app" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-thirteen.webp" alt="blog-thirteen">
                    </div>
                    <div class="blog-title-text">
                        <h3>July 13, 2023</h3>
                        <p>Elevate Your Efficiency: The Impact of a Countdown Timer Bar App</p>
                    </div>
                </a>
                <a routerLink="/resource/a-reliable-tool-to-calculate-shipping-rates" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-twelve.webp" alt="blog-twelve">
                    </div>
                    <div class="blog-title-text">
                        <h3>June 23, 2023</h3>
                        <p>Looking for a reliable tool to calculate shipping rates? Consider the Shipeasy App!</p>
                    </div>
                </a>
                <a routerLink="/resource/elevate-your-shopify-store-with-the-section-store" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-eleven.webp" alt="blog-eleven">
                    </div>
                    <div class="blog-title-text">
                        <h3>june 09, 2023</h3>
                        <p>Elevate Your Shopify Store  with the Section Store Theme Sections App</p>
                    </div>
                </a>
                <a routerLink="/resource/auto-add-to-cart-free-gift-on-eg-auto" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-ten.webp" alt="blog-ten">
                    </div>
                    <div class="blog-title-text">
                        <h3>May 29, 2023</h3>
                        <p>Maximising Savings: Auto Add to Cart Free Gift on EG Auto</p>
                    </div>
                </a>
                <a routerLink="/resource/best-auto-discounts-app-for-shopify-store" id="Shopify" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-nine.webp" alt="blog-nine">
                    </div>
                    <div class="blog-title-text">
                        <h3>May 05, 2023</h3>
                        <p>Best Auto Discounts app for shopify store - Abra Auto</p>
                    </div>
                </a>
                <a routerLink="/resource/potential-of-pickup-delivery-date-in-the-pickeasy-app" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-eight.webp" alt="blog-eight">
                    </div>
                    <div class="blog-title-text">
                        <h3>April 28, 2023</h3>
                        <p>Unleashing the Potential of Pickup Delivery Date in the Pickeasy App</p>
                    </div>
                </a>
                <a routerLink="/resource/websites-seo-ranking-with-html-and-xml-sitemaps" id="seo" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-seven.webp" alt="blog-seven">
                    </div>
                    <div class="blog-title-text">
                        <h3>April 13, 2023</h3>
                        <p>Boost Your Website's SEO Ranking with HTML and XML Sitemaps</p>
                    </div>
                </a>
                <a routerLink="/resource/power-of-language-translation-with-langshop-app" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-six.webp" alt="blog-six">
                    </div>
                    <div class="blog-title-text">
                        <h3>March 30, 2023</h3>
                        <p>5 Ways LangShop App Can Help You Unlock Global Growth</p>
                    </div>
                </a>
                <a routerLink="/resource/build-a-winning-shopify-store" id="E-commerce" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-five.webp" alt="blog-five">
                    </div>
                    <div class="blog-title-text">
                        <h3>March 11, 2023</h3>
                        <p>Secrets to Building a Winning Shopify Store Design</p>
                    </div>
                </a>
                <a routerLink="/resource/benefits-of-integrating-email-marketing" id="Shopify" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-four.webp" alt="blog-four">
                    </div>
                    <div class="blog-title-text">
                        <h3>February 27, 2023</h3>
                        <p>Boosting Sales: The Role of Email Marketing in Shopify Stores</p>
                    </div>
                </a>
                <a routerLink="/resource/apps-for-streamlining-your-business" id="shopify-apps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-three.webp" alt="blog-three">
                    </div>
                    <div class="blog-title-text">
                        <h3>February 06, 2023</h3>
                        <p>Simplify and Streamline: 5 Must-Have Shopify Apps for Business Operations.</p>
                    </div>
                </a>
                <a routerLink="/resource/use-instagram-to-drive-sales" id="E-commerce" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-two.webp" alt="blog-two">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 21, 2023</h3>
                        <p>Boost Your Shopify Store Sales with Instagram.</p>
                    </div>
                </a>
                <a routerLink="/resource/tips-for-optimizing-your-shopify-store" id="seo" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-one.webp" alt="blog-one">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 02, 2023</h3>
                        <p>The SEO Game-Changer: 5 Tips for Optimising Your Shopify Store</p>
                    </div>
                </a> 
            </div>
            <div class="cdk-button-wrap margin-auto"  id="loadMore">
                <a class="cdk-btn-green" href="javascript:void(0)">Load more</a>
            </div>
        </div>
    </div>
</section>
