<section class="blogs-section">
    <div class="container">
        <div class="our_work_all_wrap">
            <h1 class="green-text">Latest News</h1>
            <div class="service-head flex space-between">
                <div class="service-titel">
                    <h2>From Industry Insights to Personal Growth</h2>
                </div>
                <div class="service-text">
                    <p>
                        Our Shopify design service offers a comprehensive solution for businesses looking to create a visually appealing and user-friendly online store. Our team of experienced designers and developers work closely with clients to understand their brand and target audience, resulting in a customized storefront that reflects their unique style and values. 
                    </p>
                </div>
            </div>
            <div class="blog_cards_wrapper flex" id="blogFilter">
                <a routerLink="/resource/tips-for-optimizing-your-shopify-store" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-one.webp" alt="blog-one">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 02, 2023</h3>
                        <p>5 Tips for Optimizing Your Shopify Store's SEO</p>
                    </div>
                </a>
                <a routerLink="/resource/use-instagram-to-drive-sales" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-two.webp" alt="blog-two">
                    </div>
                    <div class="blog-title-text">
                        <h3>January 21, 2023</h3>
                        <p>How to Use Instagram to Drive Sales on Your Shopify Store</p>
                    </div>
                </a>
                <a routerLink="/resource/apps-for-streamlining-your-business" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-three.webp" alt="blog-three">
                    </div>
                    <div class="blog-title-text">
                        <h3>February 06, 2023</h3>
                        <p>5 Best Shopify Apps for Streamlining Your Business Operations</p>
                    </div>
                </a>
                <a routerLink="/resource/benefits-of-integrating-email-marketing" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-four.webp" alt="blog-four">
                    </div>
                    <div class="blog-title-text">
                        <h3>February 27, 2023</h3>
                        <p>The Benefits of Integrating Email Marketing into Your Shopify Store</p>
                    </div>
                </a>
                <a routerLink="/resource/build-a-winning-shopify-store" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-five.webp" alt="blog-five">
                    </div>
                    <div class="blog-title-text">
                        <h3>March 11, 2023</h3>
                        <p>How to Build a Winning Shopify Store Design</p>
                    </div>
                </a>
                <a routerLink="/resource/power-of-language-translation-with-langshop-app" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-six.webp" alt="blog-six">
                    </div>
                    <div class="blog-title-text">
                        <h3>March 30, 2023</h3>
                        <p>Unlock Global Growth: Harness the Power of Language Translation with LangShop App</p>
                    </div>
                </a>
                <a routerLink="/resource/websites-seo-ranking-with-html-and-xml-sitemaps" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-seven.webp" alt="blog-seven">
                    </div>
                    <div class="blog-title-text">
                        <h3>April 13, 2023</h3>
                        <p>Boost Your Website's SEO Ranking with HTML and XML Sitemaps</p>
                    </div>
                </a>
                <a routerLink="/resource/potential-of-pickup-delivery-date-in-the-pickeasy-app" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-eight.webp" alt="blog-eight">
                    </div>
                    <div class="blog-title-text">
                        <h3>April 28, 2023</h3>
                        <p>Unleashing the Potential of Pickup Delivery Date in the Pickeasy App</p>
                    </div>
                </a>
                <a routerLink="/resource/best-auto-discounts-app-for-shopify-store" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-nine.webp" alt="blog-nine">
                    </div>
                    <div class="blog-title-text">
                        <h3>May 05, 2023</h3>
                        <p>Best Auto Discounts app for shopify store - Abra Auto</p>
                    </div>
                </a>
                <a routerLink="/resource/auto-add-to-cart-free-gift-on-eg-auto" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-ten.webp" alt="blog-ten">
                    </div>
                    <div class="blog-title-text">
                        <h3>May 29, 2023</h3>
                        <p>Maximising Savings: Auto Add to Cart Free Gift on EG Auto</p>
                    </div>
                </a>
                <a routerLink="/resource/elevate-your-shopify-store-with-the-section-store" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-eleven.webp" alt="blog-eleven">
                    </div>
                    <div class="blog-title-text">
                        <h3>june 09, 2023</h3>
                        <p>Elevate Your Shopify Store  with the Section Store Theme Sections App</p>
                    </div>
                </a>
                <a routerLink="/resource/a-reliable-tool-to-calculate-shipping-rates" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-twelve.webp" alt="blog-twelve">
                    </div>
                    <div class="blog-title-text">
                        <h3>June 23, 2023</h3>
                        <p>Looking for a reliable tool to calculate shipping rates? Consider the Shipeasy App!</p>
                    </div>
                </a>
                <a routerLink="/resource/the-impact-of-a-countdown-timer-bar-app" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-thirteen.webp" alt="blog-thirteen">
                    </div>
                    <div class="blog-title-text">
                        <h3>July 13, 2023</h3>
                        <p>Elevate Your Efficiency: The Impact of a Countdown Timer Bar App</p>
                    </div>
                </a>
                <a routerLink="/resource/maximising-roi-multi-facebook-pixels" class="blog_card_wrap">
                    <div class="blog-img">
                        <img src="../../assets/image/blogs/blog-fourteen.webp" alt="blog-fourteen">
                    </div>
                    <div class="blog-title-text">
                        <h3>July 30, 2023</h3>
                        <p>Maximising ROI multi facebook pixels</p>
                    </div>
                </a>
            </div>
            <div class="cdk-button-wrap margin-auto"  id="loadMore">
                <a class="cdk-btn-green" href="javascript:void(0)">Load more</a>
            </div>
        </div>
    </div>
</section>
