<section class="our-approach-section space-top-p">
    <div class="container">
        <h3 class="green-text">CAREERS AT CODESDESK</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h1 class="second-heading">Build a future with limitless possibilites</h1>
            </div>
            <div class="service-text">
                <p>
                    We also recognise the importance of a healthy work-life balance and support our employees in their endeavours. We offer excellent facilities with innovative office buildings. These are some of the advantages you will enjoy when choosing us:
                </p>
            </div>
        </div>
        <div class="rounded-cards-wrap flex space-between desktop">
            <div class="round-cards flex-center flex-column">
                <div class="round-img-wrap">
                    <img class="round-img" src="../../assets/image/round-card-one.webp" width="100%" alt="Growth">
                </div>
                <h5 class="round-card-title">Growth Opportunity</h5>
            </div>
            <div class="round-cards flex-center flex-column">
                <div class="round-img-wrap">
                    <img class="round-img" src="../../assets/image/round-card-two.webp" width="100%" alt="Growth">
                </div>
                <h5 class="round-card-title">Performance Bonus</h5>
            </div>
            <div class="round-cards flex-center flex-column">
                <div class="round-img-wrap">
                    <img class="round-img" src="../../assets/image/round-card-three.webp" width="100%" alt="Growth">
                </div>
                <h5 class="round-card-title">Workplace Celebrations</h5>
            </div>
        </div>
        <div class="rounded-cards-wrap mobile">
            <ngx-slick-carousel class="round-card-slider flex space-between" #slickModal="slick-carousel" [config]="roundcardConfig">
                <div ngxSlickItem class="round-cards flex-center flex-column">
                    <div class="round-img-wrap">
                        <img class="round-img" src="../../assets/image/round-card-one.webp" width="100%" alt="Growth">
                    </div>
                    <h5 class="round-card-title">Growth Opportunity</h5>
                </div>
                <div ngxSlickItem class="round-cards p-center flex-center flex-column">
                    <div class="round-img-wrap">
                        <img class="round-img" src="../../assets/image/round-card-two.webp" width="100%" alt="Growth">
                    </div>
                    <h5 class="round-card-title">Performance Bonus</h5>
                </div>
                <div ngxSlickItem class="round-cards flex-center flex-column">
                    <div class="round-img-wrap">
                        <img class="round-img" src="../../assets/image/round-card-three.webp" width="100%" alt="Growth">
                    </div>
                    <h5 class="round-card-title">Workplace Celebrations</h5>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>
<section class="career-cards-section">
    <div class="container">
        <div class="career-cards-all_wrap">
            <div class="career-cards-head">
                <h2 class="career-head-txt">Current Openings</h2>
            </div>
            <div class="career-cards-all-wrap flex">
                <div class="career-cards-wrapper">
                    <div class="job-icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.375 0H25.625C28.0391 0 30 1.96094 30 4.375V7.5H35C37.7578 7.5 40 9.74219 40 12.5V20H0V12.5C0 9.74219 2.24219 7.5 5 7.5H10V4.375C10 1.96094 11.9609 0 14.375 0ZM13.75 4.375V7.5H26.25V4.375C26.25 4.03125 25.9688 3.75 25.625 3.75H14.375C14.0312 3.75 13.75 4.03125 13.75 4.375ZM40 32.5C40 35.2578 37.7578 37.5 35 37.5H5C2.24219 37.5 0 35.2578 0 32.5V22.5H15V25C15 26.3828 16.1172 27.5 17.5 27.5H22.5C23.8828 27.5 25 26.3828 25 25V22.5H40V32.5Z" fill="#37C8AE"/>
                            </svg>
                    </div>
                    <h3 class="career-card-text-heading">
                        CONTENT WRITER
                    </h3>
                    <p class="exp-text primery-text">(2+ Years) Mohali</p>
                    <div class="bnt-wrap">
                        <a class="cdk-btn-green" href="/contact">Apply Now</a>
                    </div>
                </div>
                <div class="career-cards-wrapper">
                    <div class="job-icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.375 0H25.625C28.0391 0 30 1.96094 30 4.375V7.5H35C37.7578 7.5 40 9.74219 40 12.5V20H0V12.5C0 9.74219 2.24219 7.5 5 7.5H10V4.375C10 1.96094 11.9609 0 14.375 0ZM13.75 4.375V7.5H26.25V4.375C26.25 4.03125 25.9688 3.75 25.625 3.75H14.375C14.0312 3.75 13.75 4.03125 13.75 4.375ZM40 32.5C40 35.2578 37.7578 37.5 35 37.5H5C2.24219 37.5 0 35.2578 0 32.5V22.5H15V25C15 26.3828 16.1172 27.5 17.5 27.5H22.5C23.8828 27.5 25 26.3828 25 25V22.5H40V32.5Z" fill="#37C8AE"/>
                            </svg>
                    </div>
                    <h3 class="career-card-text-heading">
                        CONTENT WRITER
                    </h3>
                    <p class="exp-text primery-text">(2+ Years) Mohali</p>
                    <div class="bnt-wrap">
                        <a class="cdk-btn-green" href="/contact">Apply Now</a>
                    </div>
                </div>
                <div class="career-cards-wrapper">
                    <div class="job-icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.375 0H25.625C28.0391 0 30 1.96094 30 4.375V7.5H35C37.7578 7.5 40 9.74219 40 12.5V20H0V12.5C0 9.74219 2.24219 7.5 5 7.5H10V4.375C10 1.96094 11.9609 0 14.375 0ZM13.75 4.375V7.5H26.25V4.375C26.25 4.03125 25.9688 3.75 25.625 3.75H14.375C14.0312 3.75 13.75 4.03125 13.75 4.375ZM40 32.5C40 35.2578 37.7578 37.5 35 37.5H5C2.24219 37.5 0 35.2578 0 32.5V22.5H15V25C15 26.3828 16.1172 27.5 17.5 27.5H22.5C23.8828 27.5 25 26.3828 25 25V22.5H40V32.5Z" fill="#37C8AE"/>
                            </svg>
                    </div>
                    <h3 class="career-card-text-heading">
                        CONTENT WRITER
                    </h3>
                    <p class="exp-text primery-text">(2+ Years) Mohali</p>
                    <div class="bnt-wrap">
                        <a class="cdk-btn-green" href="/contact">Apply Now</a>
                    </div>
                </div>
                <div class="career-cards-wrapper">
                    <div class="job-icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.375 0H25.625C28.0391 0 30 1.96094 30 4.375V7.5H35C37.7578 7.5 40 9.74219 40 12.5V20H0V12.5C0 9.74219 2.24219 7.5 5 7.5H10V4.375C10 1.96094 11.9609 0 14.375 0ZM13.75 4.375V7.5H26.25V4.375C26.25 4.03125 25.9688 3.75 25.625 3.75H14.375C14.0312 3.75 13.75 4.03125 13.75 4.375ZM40 32.5C40 35.2578 37.7578 37.5 35 37.5H5C2.24219 37.5 0 35.2578 0 32.5V22.5H15V25C15 26.3828 16.1172 27.5 17.5 27.5H22.5C23.8828 27.5 25 26.3828 25 25V22.5H40V32.5Z" fill="#37C8AE"/>
                            </svg>
                    </div>
                    <h3 class="career-card-text-heading">
                        CONTENT WRITER
                    </h3>
                    <p class="exp-text primery-text">(2+ Years) Mohali</p>
                    <div class="bnt-wrap">
                        <a class="cdk-btn-green" href="/contact">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="career-form-section">
    <div class="container">
        <div class="form-and-img-wrapper flex_two">
            <div class="career-form-wrap">
                <h2 class="career-form-heading">Nothing for you ? Send your CV</h2>
                <form action="" class="career-form">
                    <fieldset>
                        <input type="text" name="firstname" id="firstname" required>
                        <label class="textfield__label" for="firstname">First Name</label>
                    </fieldset>
                    <fieldset>
                        <input type="text" name="lastname" id="lastname" required>
                        <label class="textfield__label" for="lastname">last Name</label>
                    </fieldset>
                    <fieldset>
                        <input type="email" name="mail" id="mail" required>
                        <label class="textfield__label" for="mail">Email</label>
                    </fieldset>
                    <fieldset>
                        <input type="number" name="number" id="number" required>
                        <label class="textfield__label" for="number">Phone number</label>
                    </fieldset>
                    <div class="file-upload flex-column">
                        <label for="myfile">Upload your CV *</label>
                        <input type="file" id="myfile" name="myfile" class="custom-file-input">
                    </div>
                    <button class="cdk-contact-btn">Send</button>
                </form>
            </div>
            <div class="career-img-wrap">
                <img class="career-img" width="100%" src="../../assets/image/job-form-pic.webp" alt="career">
            </div>
        </div>
    </div>
</section>