<section id="service-main" class="main-title-section space-top-p">
    <div id="container" class="container">
        <div class="main-title-wrap">
            <h3 class="green-text">Headless and Composable Commerce</h3>
            <h1 class="main-heading">Headless, Composable Commerce service</h1>
            <p class="primery-text">
                Embrace the future of e-commerce with our Headless and Composable Commerce services. Headless architecture decouples the front-end and back-end, providing unparalleled flexibility for custom user experiences. Composable Commerce takes it a step further, allowing you to choose and integrate modular components, tailoring your e-commerce ecosystem to your specific needs. Stay agile, adopt new technologies effortlessly, 
            </p>
            <div class="cdk-buttons-wrap flex">
                <a class="cdk-btn-green" routerLinkActive="active" routerLink="/contact">contact us</a>
                <a class="cdk-btn-white" (click)="scroll(target)">Our approach</a>
            </div>
        </div>
    </div>
</section>
<section id="service-two" class="service_section">
    <div class="service_all_wrap container-second">
        <h3 class="green-text">Modular Flexibility, Seamless Innovation</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>Future-Ready E-Commerce</h2>
            </div>
            <div class="service-text">
                <p>
                    Headless Commerce separates the front-end and back-end for greater flexibility, while Composable Commerce extends this flexibility by allowing businesses to compose their e-commerce systems from modular, best-in-class components. Both approaches empower businesses to adapt quickly to changing market trends.
                </p>
            </div>
        </div>
        <div class="container-two">
            <div class="all-items-wrapper">
                <h3 class="c-2-heading">
                    Headless & Composable Commerce service 10 key point
                </h3>
                <ol class="order-list">
                    <li class="order-item">Decoupled Front-End</li>
                    <li class="order-item">Independent Back-End</li>
                    <li class="order-item">Modular Component Integration</li>
                    <li class="order-item">Flexibility in Design</li>
                    <li class="order-item">Best-of-Breed Solutions</li>
                    <li class="order-item">Seamless Technology Adoption</li>
                    <li class="order-item">Agile Business Adaptation</li>
                    <li class="order-item">Scalability and Efficiency</li>
                    <li class="order-item">Enhanced Developer Productivity</li>
                    <li class="order-item">Personalized Shopping Experiences</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="service-three" class="service-bacground-section">
</section>
<section id="service-four" class="our-approach-section" #target>
    <div id="container" class="container">
        <h3 class="green-text">Innovative Commerce Solutions Approach</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>Tailored for Flexibility</h2>
            </div>
            <div class="service-text">
                <p>
                    Discover our forward-thinking approach to commerce with a focus on Headless and Composable solutions. We prioritize modular flexibility, allowing businesses to curate a personalized e-commerce ecosystem.
                </p>
            </div>
        </div>
        <div class="about_cards_wrap flex">
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Modular Flexibility</h3>
                    <p class="card-text">
                        Embrace a modular approach to e-commerce, allowing businesses to choose and integrate specific functionalities tailored to their unique needs.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Decoupled Architecture</h3>
                    <p class="card-text">
                        Adopt a headless architecture for independent development of the front-end and back-end, offering greater flexibility and adaptability to changing market demands.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Continuous Innovation</h3>
                    <p class="card-text">
                        Prioritize continuous innovation by seamlessly integrating new technologies and features, ensuring your e-commerce ecosystem evolves with the latest industry trends and customer expectations.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service-five" class="service-inner-slider">
    <div id="container" class="container">
        <div class="service-slider-head">
            <h2 class="slider-heading">
                Contact us for following website design needs
            </h2>
        </div>
        <div class="all-text-slide-wrap flex-center">
            <div class="slider-left-text">
                <div class="slide-text slide-text-one flex-center">
                    <h3 class="side-txt">Custom Web Design</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left1.webp" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="slide-text slide-text-two flex-center">
                    <h3 class="side-txt">Web Re-Designing</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left2.webp" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="slide-text slide-text-three flex-center">
                    <h3 class="side-txt">Responsive Website Design</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left3.webp" width="100%" alt="asdf">
                    </div>
                </div>
            </div>
            <div class="slider-all-img">
                <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="picsliderConfig">
                    <img src="../../assets/image/servicre-inner/web-design-mg.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg2.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg3.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg4.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                </ngx-slick-carousel>
            </div>
            <div class="slider-right-text">
                <div class="slide-text-r slide-text-one flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r1.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">E-Commerce Website Design</h3>
                </div>
                <div class="slide-text-r slide-text-two flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r2.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Graphic Design</h3>
                </div>
                <div class="slide-text-r slide-text-three flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r3.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Mobile-First Design</h3>
                </div>
            </div>
        </div>
    </div>
</section>