@font-face {
    font-family: 'Lato';
    src: url('../src/assets/fonts/Lato-Black.eot');
    src: url('../src/assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Lato-Black.woff2') format('woff2'), url('../src/assets/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../src/assets/fonts/Lato-Bold.eot');
    src: url('../src/assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Lato-Bold.woff2') format('woff2'), url('../src/assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../src/assets/fonts/Lato-Light.eot');
    src: url('../src/assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Lato-Light.woff2') format('woff2'), url('../src/assets/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../src/assets/fonts/Lato-Regular.eot');
    src: url('../src/assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Lato-Regular.woff2') format('woff2'), url('../src/assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-Bold.eot');
    src: url('../src/assets/fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Rubik-Bold.woff2') format('woff2'), url('../src/assets/fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-Black.eot');
    src: url('../src/assets/fonts/Rubik-Black.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Rubik-Black.woff2') format('woff2'), url('../src/assets/fonts/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-ExtraBold.eot');
    src: url('../src/assets/fonts/Rubik-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Rubik-ExtraBold.woff2') format('woff2'), url('../src/assets/fonts/Rubik-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-Light.eot');
    src: url('../src/assets/fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Rubik-Light.woff2') format('woff2'), url('../src/assets/fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-Regular.eot');
    src: url('../src/assets/fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Rubik-Regular.woff2') format('woff2'), url('../src/assets/fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-SemiBold.eot');
    src: url('../src/assets/fonts/Rubik-SemiBold.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Rubik-SemiBold.woff2') format('woff2'), url('../src/assets/fonts/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-Medium.eot');
    src: url('../src/assets/fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'), url('../src/assets/fonts/Rubik-Medium.woff2') format('woff2'), url('../src/assets/fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
:root {
    --main-heading-font: "Lato";
    --second-heading: "Rubik";
    --text-font: "Rubik";
    --btn-color: "#37C8AE";

}
body {
    background-color: #040A17;
    color: #fff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
}
.overflow-hidden {
    overflow: hidden;
}
.relative {
    position: relative;
}
.main-heading {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: var(--main-heading-font);
}
.second-heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.primery-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.flex {
    display: flex;
    align-items: center;
}
.flex_two {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.green-text {
    color: #37C8AE;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.primery-heading {
    color: #FFF;
    font-family: var(--main-heading-font);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.space-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.ff-lato {
    font-family: var(--main-heading-font);
}
.ff-rubik {
    font-family: var(--second-heading);
}
.w-100 {
    width: 100%;
}
.margin-auto {
    margin: 0 auto;
}
.cdk-btn-green {
    width: 160px;
    height: 50px;
    background-color: #37C8AC;
    color: #000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-transform: capitalize;
    font-family: var(--second-heading);
}
.cdk-btn-white {
    width: 160px;
    height: 50px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-transform: capitalize;
    font-family: var(--second-heading);
}
.mobile {
    display: none;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    border-radius: 10px;
}
.slick-slider .slick-track {
    display: flex;
    align-items: center;
}
.slick-slide img.mobile {
    display: none;
}
/* service-com-section */
.service_section,
.our_work_section {
    padding: 100px 0px;
}
.blogs-section {
    padding: 129px 0 215px;
}
.service_section .service_all_wrap .service-head.flex,
.our_work_section .our_work_all_wrap .service-head.flex,
.blogs-section .our_work_all_wrap .service-head.flex,
.our-approach-section .service-head.flex {
    align-items: flex-end;
    column-gap: 30px;
}
.blogs-section .our_work_all_wrap .service-head {
    margin-bottom: 60px;
}
.service_section .service_all_wrap,
.our_work_section .our_work_all_wrap,
.blogs-section .our_work_all_wrap {
    padding: 0 30px;
}
.service_section .service_all_wrap .service-head .service-titel,
.our_work_section .our_work_all_wrap .service-head .service-titel,
.blogs-section .our_work_all_wrap .service-head .service-titel,
.our-approach-section .service-head .service-titel {
    width: 100%;
    max-width: 519px;
}
.service_section .service_all_wrap .service-head .service-titel h3,
.our_work_section .our_work_all_wrap .service-head .service-titel h3,
.blogs-section .our_work_all_wrap .service-head .service-titel h3,
.our-approach-section .service-head .service-titel h3 {
    color: #37C8AE;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.service_section .service_all_wrap .service-head .service-titel h2,
.our_work_section .our_work_all_wrap .service-head .service-titel h2,
.our-approach-section .service-head .service-titel h2 {
    color: #FFF;
    font-family: var(--main-heading-font);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.blogs-section .our_work_all_wrap .service-head .service-titel h2 {
    color: #FFF;
    font-family: var(--main-heading-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.service_section .service_all_wrap .service-head .service-text,
.our_work_section .our_work_all_wrap .service-head .service-text,
.blogs-section .our_work_all_wrap .service-head .service-text,
.our-approach-section .service-head .service-text {
    width: 100%;
    max-width: 817px;
}
.service_section .service_all_wrap .service-head .service-text p,
.our_work_section .our_work_all_wrap .service-head .service-text p,
.blogs-section .our_work_all_wrap .service-head .service-text p,
.our-approach-section .service-head .service-text p {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.service_body_wrap .service-body {
    width: 100%;
    margin-top: 20px;
}
.service_body_wrap .service-body .service-list {
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #6C757D;
}
.service_body_wrap .service-body .service-list .list-head {
    display: inline-block;
    color: #ADB5BD;
    font-family: var(--second-heading);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 60px;
    max-width: 360px;
}
.service_body_wrap .service-body .service-list .list-text {
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    max-width: 728px;
    width: 100%;
    padding-bottom: 6px;
    display: none;
}
.service_body_wrap .bnt-wrap {
    margin-top: 60px;
}
.service_body_wrap .service-body .service-list .list-head:hover {
    color: #fff;
    font-size: 32px;
    padding-top: 82px;
}
.service_body_wrap .service-body .service-list .list-head:hover + .list-text {
    display: block;
}
/* our work */
.our_work_body_wrap {
    margin-top: 49px;
}
.our_work-images_wrap.flex {
    justify-content: space-between;
    padding-top: 30px;
    row-gap: 30px;
    width: 100%;
    align-items: unset;
}
.our_work-images_wrap .work-image_one img,
.our_work-images_wrap .work-image_four img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
}
.our_work-images_wrap .work-image_one,
.our_work-images_wrap .work-image_four {
    width: 32.4%;
    position: relative;
}
.our_work-images_wrap .work-image_two img,
.our_work-images_wrap .work-image_three img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
.our_work-images_wrap .work-image_two,
.our_work-images_wrap .work-image_three {
    width: 66.15%;
    position: relative;
}
.our_work-images_wrap .work-image_one .card-h-txt,
.our_work-images_wrap .work-image_two .card-h-txt,
.our_work-images_wrap .work-image_three .card-h-txt,
.our_work-images_wrap .work-image_four .card-h-txt {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: none;
    z-index: 1;
}
.our_work-images_wrap .work-image_one .card-h-txt .logo_card,
.our_work-images_wrap .work-image_two .card-h-txt .logo_card,
.our_work-images_wrap .work-image_three .card-h-txt .logo_card,
.our_work-images_wrap .work-image_four .card-h-txt .logo_card {
    max-width: 50px;
    height: 100%;
    max-height: 53px;
    min-height: unset;
    object-fit: cover;
    display: block;
}
.our_work-images_wrap .work-image_one .card-h-txt .bottom_card .card-heading,
.our_work-images_wrap .work-image_two .card-h-txt .bottom_card .card-heading,
.our_work-images_wrap .work-image_three .card-h-txt .bottom_card .card-heading,
.our_work-images_wrap .work-image_four .card-h-txt .bottom_card .card-heading {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.our_work-images_wrap .work-image_one .card-h-txt .bottom_card .card-txt,
.our_work-images_wrap .work-image_two .card-h-txt .bottom_card .card-txt,
.our_work-images_wrap .work-image_three .card-h-txt .bottom_card .card-txt,
.our_work-images_wrap .work-image_four .card-h-txt .bottom_card .card-txt {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    margin-top: 15px;
}
.our_work-images_wrap .work-image_one::before,
.our_work-images_wrap .work-image_two::before,
.our_work-images_wrap .work-image_three::before,
.our_work-images_wrap .work-image_four::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000;
    transition: all 0.5s ease;
    z-index: 0;
    border-radius: 10px;
}
.our_work-images_wrap .work-image_one:hover::before,
.our_work-images_wrap .work-image_two:hover::before,
.our_work-images_wrap .work-image_three:hover::before,
.our_work-images_wrap .work-image_four:hover::before {
    opacity: 0.65;
}
.our_work-images_wrap .work-image_one:hover .card-h-txt,
.our_work-images_wrap .work-image_two:hover .card-h-txt,
.our_work-images_wrap .work-image_three:hover .card-h-txt,
.our_work-images_wrap .work-image_four:hover .card-h-txt {
    display: flex;
}
.our_work_section .our_work_all_wrap .our_work_body_wrap .bnt-wrap {
    width: 160px;
    margin: 0 auto;
    margin-top: 35px;
}
.blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap {
    max-width: 447px;
}
.blogs-section .our_work_all_wrap .blog_cards_wrapper {
    column-gap: unset;
    flex-wrap: wrap;
}
.blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap .blog-img {
    width: 100%;
    border: 1px solid #37C8AE;
    border-radius: 5px;
}
.blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap .blog-img img {
    width: 100%;
    display: block;
}
.blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap .blog-title-text h3 {
    color: #37C8AE;
    font-family: var(--second-heading);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    margin: 20px 0 15px;
}
.blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap .blog-title-text p {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    width: 100%;
    max-width: 402px;
}
.blogs-section .our_work_all_wrap {
    padding: 0 11px 0 30px;
}
.blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap {
    max-width: 467px;
    flex: 0 0 auto;
    width: 33.333333%;
    padding: 0 19px 0 0;
    text-decoration: none;
}

/* about page */
.main-title-section .main-title-wrap {
    padding: 100px 0;
}
.main-title-section .main-title-wrap .green-text {
    color: #37C8AE;
    font-family: var(--second-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.main-title-section .main-title-wrap .main-heading {
    margin: 15px 0;
    text-transform: capitalize;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}
.main-title-section .main-title-wrap .primery-text {
    color: #FFF;
    font-family: var(--second-heading);
    width: 100%;
    max-width: 1012px;
}
/* about cards */
.about-banner-section .container .about_cards_wrap,
.our-approach-section .container .about_cards_wrap {
    width: 100%;
    padding: 200px 0;
    column-gap: 19px;
}
.about-banner-section .container .about_cards_wrap .about-cards_wrap,
.our-approach-section .container .about_cards_wrap .about-cards_wrap {
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.about-banner-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading,
.our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading {
    color: #FFF;
    font-family: var(--second-heading);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 38px;
    text-transform: uppercase;
}
.about-banner-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text,
.our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text {
    font-family: var(--second-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.about-banner-section .container .about_cards_wrap .about-cards_wrap .box,
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box {
    width: 100%;
    max-width: 447px;
    height: 100%;
    overflow: hidden;
    border: 1px solid #37C8AE;
    border-radius: 10px;
}
.about-banner-section .container .about_cards_wrap .about-cards_wrap .box .content,
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box .content {
    padding: 50px 37px;
    text-align:center;
    
}
.about-banner-section .container .about_cards_wrap .about-cards_wrap .box:before,
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box:before {
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: #37c8ae1a;
    transition:0.5s;
    pointer-events: none;
}
  
.about-banner-section .container .about_cards_wrap .about-cards_wrap .box:hover:before,
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box:hover:before {
    left:-50%;
    transform: skewX(-5deg);
}
.about-banner-section .container .about_cards_wrap .about-cards_wrap .box span:nth-child(1),
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box span:nth-child(1) {
	position: absolute;
	top: 1px;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #17161800, #37C8AE);
	animation: animate1 2s linear infinite;
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.about-banner-section .container .about_cards_wrap .about-cards_wrap .box span:nth-child(2),
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 1px;
	height: 100%;
	width: 3px;
	background: linear-gradient(to bottom, #17161800, #37C8AE);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.about-banner-section .container .about_cards_wrap .about-cards_wrap .box span:nth-child(3),
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box span:nth-child(3) {
	position: absolute;
	bottom: 1px;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, #17161800, #37C8AE);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.about-banner-section .container .about_cards_wrap .about-cards_wrap .box span:nth-child(4),
.our-approach-section .container .about_cards_wrap .about-cards_wrap .box span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 1px;
	height: 100%;
	width: 3px;
	background: linear-gradient(to top, #17161800, #37C8AE);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
/* about cards end */



.slick-dots {
    bottom: -38px !important;
}

.slick-dots .slick-active {
    background-color: var(--red);
    width: 30px !important;
    border-radius: 10px;
}
.image-slider-items.slick-dotted {
    margin-bottom: 0 !important;
}

.image-slider-items .slick-dots {
    background-color: rgba(55, 200, 174, 0.77);
    bottom: 0 !important;
    right: 0;
    margin: 0;
    padding: 51px 26.07px 50px 58.31px;
    min-width: 46px;
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-slider-items .slick-dots li {
    display: flex;
    margin: 0;
    width: 15px;
    height: 15px;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: center;
}

.images-slides .image-slider-items .slick-dots li {
    display: flex;
    margin: 0;
    width: 15px !important;
    height: 15px !important;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.image-slider-items .slick-dots li:last-child {
    margin-bottom: 0;
}

.image-slider-items .slick-dots li button::before {
    display: none;
}

.slick-dots li button {
    border: 0;
    background: #fff !important;
    display: block;
    height: 15px !important;
    width: 15px !important;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: #fff !important;
    padding: 5px;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
}
.image-slider-items .slick-dots li.slick-active button:after {
    content: '0';
    position: absolute;
    left: 0;
}
.image-slider-items .slick-slide img {
    display: block;
    width: 100%;
}
.image-slider-items .slick-slider .slick-track, .slick-slider .slick-list {
    border-radius: unset !important;
}

.image-slider-items .slick-dots li.slick-active {
    width: 41.65px !important;
    height: 40px !important;
    border-radius: 100%;
    background: #37C8AE !important;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider-items .slick-dots li.slick-active button {
    display: flex;
    width: 40px;
    height: 40px;
    color: #000 !important;
    background: #37C8AE !important;
    font-family: var(--main-heading-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
}
/* our work */
.our_work-images_wrap .work-image_all img.desktop {
    display: block;
}
.our_work-images_wrap .work-image_all img.mobile {
    display: none;
}





@media only screen and (min-width:992px) and (max-width:1024px) {
    .service_body_wrap .service-body .service-list .list-text {
        max-width: 520px;
    }
    .blogs-section {
        padding: 100px 0 150px;
    }
    /* about cards */
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .box .content,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .box .content {
        padding: 30px 20px;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading {
        margin-bottom: 20px;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text {
        font-size: 16px;
        line-height: 22px;
    }
    /* about cards end */
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .service_section .service_all_wrap .service-head.flex,
    .our_work_section .our_work_all_wrap .service-head.flex,
    .blogs-section .our_work_all_wrap .service-head.flex,
    .our-approach-section .service-head.flex {
        align-items: flex-start;
        column-gap: 20px;
    }
    .service_body_wrap .service-body .service-list .list-text {
        font-size: 14px;
        max-width: 350px;
    }
    .service_body_wrap .service-body .service-list .list-head {
        font-size: 24px;
        max-width: 320px;
    }
    .service_body_wrap .service-body .service-list .list-head:hover {
        font-size: 28px;
    }
    .service_section,
    .our_work_section,
    .blogs-section {
        padding: 60px 0px;
    }
    /* about page */
    .main-title-section .main-title-wrap .main-heading {
        font-size: 45px;
    }
    .about_slider_section .slider_and_text_wrapper .image-slider-items .slick-dots {
        padding: 25px 15px 25px 25px;
    }
    .about_slider_section .slider_and_text_wrapper .image-slider-items .slick-slide img {
        min-height: 400px;
        object-fit: cover;
    }
    /* about cards */
    .about-banner-section .container .about_cards_wrap,
    .our-approach-section .container .about_cards_wrap {
        padding: 100px 0;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .box .content,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .box .content {
        padding: 20px 15px;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text {
        font-size: 14px;
        line-height: 21px;
    }
    /* about cards end */
}
@media only screen and (max-width:767px) {
    .desktop{
        display: none;
    }
    .slick-slide img.desktop {
        display: none;
    }
    .slick-slide img.mobile {
        display: block;
    }
    .mobile {
        display: block;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0px !important;
    }
    /* service-com-section */
    .service_section {
        padding: 55px 0px;
    }
    .service_section .service_all_wrap,
    .our_work_section .our_work_all_wrap,
    .blogs-section .our_work_all_wrap {
        padding: 0 20px;
    }
    .service_section .service_all_wrap .service-head.flex,
    .our_work_section .our_work_all_wrap .service-head.flex,
    .blogs-section .our_work_all_wrap .service-head.flex,
    .our-approach-section .service-head.flex {
        flex-wrap: wrap;
        row-gap: 12px;
    }
    .service_section .service_all_wrap .service-head .service-titel h3,
    .our_work_section .our_work_all_wrap .service-head .service-titel h3,
    .blogs-section .our_work_all_wrap .service-head .service-titel h3,
    .our-approach-section .service-head .service-titel h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .service_section .service_all_wrap .service-head .service-titel h2,
    .our_work_section .our_work_all_wrap .service-head .service-titel h2,
    .blogs-section .our_work_all_wrap .service-head .service-titel h2,
    .our-approach-section .service-head .service-titel h2 {
        font-size: 28px;
    }
    .service_section .service_all_wrap .service-head .service-text p,
    .our_work_section .our_work_all_wrap .service-head .service-text p,
    .blogs-section .our_work_all_wrap .service-head .service-text p,
    .our-approach-section .service-head .service-text p {
        font-size: 16px;
        line-height: 25px;
    }
    .service_mobile_tabs.mobile {
        margin-top: 15px;
    }
    .service_tabs {
        width: 100%;
    }    
    .service_content p {
        color: #fff;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
    }    
    .service_tab-heading {
        cursor: pointer;
        color: #ADB5BD;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        padding-bottom: 10px;
        padding-top: 15px;
        position: relative;
        border-bottom: 1px solid #6C757D;
        justify-content: space-between;
        transition: all 0.3s ease;
    }
    .service_tab-heading.active {
        font-size: 24px;
        color: #fff;
    }
    .service_content {
        padding: 10px 0;
        display: none;
        border-bottom: 1px solid #6C757D;
    }   
    .service_body_wrap .bnt-wrap {
        margin-top: 25px;
    }
    .service_tab-heading span {
        display: inline-block;
    }
    .service_tab-heading span svg {
        display: block;
    }
    .service_tab-heading.active .tab-icon {
        transform: rotate(90deg);
    }
    /* our work */
    .our_work_section {
        padding: 0px 0px 60px;
    }
    .our_work-images_wrap .work-image_one,
    .our_work-images_wrap .work-image_two,
    .our_work-images_wrap .work-image_three,
    .our_work-images_wrap .work-image_four {
        width: 100%;
    }
    .our_card_bottom_text.mobile .card-heading {
        color: #FFF;
        font-family: var(--second-heading);
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
    }
    .our_card_bottom_text.mobile .card-txt {
        color: #fff;
        font-family: var(--second-heading);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-top: 12px;
        margin-bottom: 20px;
    }
    .our_work-images_wrap.flex {
        row-gap: 20px;
    }  
    .our_work-images_wrap .work-image_one::before,
    .our_work-images_wrap .work-image_two::before,
    .our_work-images_wrap .work-image_three::before,
    .our_work-images_wrap .work-image_four::before  {
        content: unset;
    }
    .our_work-images_wrap .work-image_one:hover .card-h-txt,
    .our_work-images_wrap .work-image_two:hover .card-h-txt,
    .our_work-images_wrap .work-image_three:hover .card-h-txt,
    .our_work-images_wrap .work-image_four:hover .card-h-txt {
        display: none;
    }
    .our_work_section .our_work_all_wrap .our_work_body_wrap .bnt-wrap {
        width: 160px;
        margin: 0;
        margin-top: 15px;
    }
    .blogs-section {
        padding: 30px 0 40px;
    }
    .blogs-section .our_work_all_wrap {
        padding: 0 20px 0 20px;
    }
    .blogs-section .our_work_all_wrap .blog_cards_wrapper {
        row-gap: 30px;
        flex-wrap: wrap;
    }
    .blogs-section .our_work_all_wrap .service-head {
        margin-bottom: 30px;
    }
    .blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap {
        max-width: 100%;
        flex: unset;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
    }
    .blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap .blog-title-text h3 {
        margin: 25px 0 12px;
    }
    .blogs-section .our_work_all_wrap .blog_cards_wrapper .blog_card_wrap .blog-title-text p {
        font-size: 16px;
        line-height: 25px;
    }
    /* about */
    .main-title-section .main-title-wrap {
        padding: 70px 0 55px;
    }
    .main-title-section .main-title-wrap .main-heading {
        font-size: 28px;
        margin: 10px 0 12px;
    }
    .main-title-section .main-title-wrap .green-text {
        font-size: 18px;
    }
    .main-title-section .main-title-wrap .primery-text {
        font-size: 16px;
        line-height: 25px;
    }
    .image-slider-items .slick-dots li.slick-active {
        width: 25px !important;
        height: 25px !important;
    }
    .image-slider-items .slick-dots li.slick-active button {
        font-size: 15px;
        padding-left: 13px;
    }
    .image-slider-items .slick-dots li button {
        height: 12px !important;
        width: 12px !important;
    }
    .image-slider-items .slick-dots {
        padding: 16px 22px 13px 21px;
    }
    .image-slider-items .slick-dots li {
        margin-bottom: 10px;
    }
    .image-slider-items .slick-slide img {
        border-radius: 10px;
    }
    /* about cards */
    .about-banner-section .container .about_cards_wrap,
    .our-approach-section .container .about_cards_wrap {
        padding: 55px 0;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .box .content,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .box .content {
        padding: 40px 20px;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-heading {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 24px;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap .card-wrapper .card-text {
        font-size: 16px;
        line-height: 25px;
    }
    .about-banner-section .container .about_cards_wrap .about-cards_wrap,
    .our-approach-section .container .about_cards_wrap .about-cards_wrap {
        max-width: 390px;
        margin: 0 auto;
    }
    /* about cards-end */
    /* our-work */
    .our_work-images_wrap .work-image_two img, 
    .our_work-images_wrap .work-image_three img, 
    .our_work-images_wrap .work-image_one img, 
    .our_work-images_wrap .work-image_four img {
        min-height: 450px;
        object-fit: cover;
        border-radius: 10px;
    }
    .our_work-images_wrap .work-image_all img.desktop {
        display: none;
    }
    .our_work-images_wrap .work-image_all img.mobile {
        display: block;
    }
}
