<section id="service-main" class="main-title-section">
    <div id="container" class="container">
        <div class="main-title-wrap">
            <h3 class="green-text">Shopify Design</h3>
            <h1 class="main-heading">our Shopify design service</h1>
            <p class="primery-text">
                At our agency, we specialize in creating stunning and functional Shopify store designs that help our clients stand out in a crowded marketplace. Our team of experienced designers and developers work closely with each client to understand their unique brand and business needs, and then craft a custom design that showcases their products in the best possible light. Whether you're looking for a sleek and modern design, a clean and minimalist layout, or something more intricate and visually striking, 
            </p>
            <div class="cdk-buttons-wrap flex">
                <a class="cdk-btn-green" routerLinkActive="active" routerLink="/contact">contact us</a>
                <a class="cdk-btn-white" (click)="scroll(target)">Our approach</a>
            </div>
        </div>
    </div>
</section>
<section id="service-two" class="service_section">
    <div class="service_all_wrap container-second">
        <h3 class="green-text">Shopify Design</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>Transform your store with our shopify design service</h2>
            </div>
            <div class="service-text">
                <p>
                    We create exceptional user experiences beyond the conventional – crafting websites that not only captivate your audience but also tell your brand's unique narrative. From the first touchpoint to conversion and post-purchase, every interaction is designed to foster a loyal customer base while achieving your commercial goals.
                </p>
            </div>
        </div>
        <div class="container-two">
            <div class="all-items-wrapper">
                <h3 class="c-2-heading">
                    OUR UX/UI DESIGN SERVICES
                </h3>
                <ol class="order-list">
                    <li class="order-item">Mobile First & Responsive Design</li>
                    <li class="order-item">Shopify UX Design & Brand Vision</li>
                    <li class="order-item">Art Direction, UI & Interactions</li>
                    <li class="order-item">User Research & Competitor Analysis</li>
                    <li class="order-item">Wireframes & Journey Mapping</li>
                    <li class="order-item">User Testing & Surveys</li>
                    <li class="order-item">Design Systems & Style Guides</li>
                    <li class="order-item">Conversion Rate Optimization</li>
                    <li class="order-item">Rapid & Interactive Prototyping</li>
                    <li class="order-item">Audits (Creative, UX, Content)</li>
                </ol>
                <h3 class="c-2-heading">
                    TOOLS WE USE
                </h3>
                <ul class="unorder-list">
                    <li class="unorder-items">Figma</li>
                    <li class="unorder-items">Sketch</li>
                    <li class="unorder-items">Adobe XD (Experience Design)</li>
                    <li class="unorder-items">InVision</li>
                    <li class="unorder-items">Axure RP</li>
                    <li class="unorder-items">Balsamiq</li>
                    <li class="unorder-items">Adobe Creative Cloud</li>
                    <li class="unorder-items">Sketch Bubbl.us</li>
                    <li class="unorder-items">Proto.io</li>
                    <li class="unorder-items">Google Analytics</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="service-three" class="service-bacground-section">
</section>
<section id="service-four" class="our-approach-section" #target>
    <div id="container" class="container">
        <h3 class="green-text">Our Approach</h3>
        <div class="service-head flex space-between">
            <div class="service-titel">
                <h2>How we approach design</h2>
            </div>
            <div class="service-text">
                <p>
                    Whether it’s a complete redesign of your store or ongoing collaboration to build on your existing success, our team is focused on understanding your unique design challenges and providing innovative and effective solutions.
                </p>
            </div>
        </div>
        <div class="about_cards_wrap flex">
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Strategy</h3>
                    <p class="card-text">
                        Data and users are at the heart of our strategy – insights gathered from your current site performance, user behavior and feedback, and best practices inform every design decision.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Execution</h3>
                    <p class="card-text">
                        This is where we get creative – using data gathered during the strategy phase we’ll create concepts that merge unique, exciting ideas with our robust e-commerce knowledge delivering stand out designs for you to choose from.
                    </p>
                    </div>
                </div>
            </div>
            <div class="about-cards_wrap">
                <div class="card-wrapper box">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="content">
                        <h3 class="card-heading">Understand the Problem</h3>
                    <p class="card-text">
                        Begin by thoroughly understanding the problem or challenge you are trying to address. This involves conducting research, gathering user feedback, and identifying the goals and constraints of the project.
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service-five" class="service-inner-slider">
    <div id="container" class="container">
        <div class="service-slider-head">
            <h2 class="slider-heading">
                Contact us for following website design needs
            </h2>
        </div>
        <div class="all-text-slide-wrap flex-center">
            <div class="slider-left-text">
                <div class="slide-text slide-text-one flex-center">
                    <h3 class="side-txt">Custom Web Design</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left1.webp" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="slide-text slide-text-two flex-center">
                    <h3 class="side-txt">Web Re-Designing</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left2.webp" width="100%" alt="asdf">
                    </div>
                </div>
                <div class="slide-text slide-text-three flex-center">
                    <h3 class="side-txt">Responsive Website Design</h3>
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-left3.webp" width="100%" alt="asdf">
                    </div>
                </div>
            </div>
            <div class="slider-all-img">
                <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="picsliderConfig">
                    <img src="../../assets/image/servicre-inner/web-design-mg.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg2.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg3.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                    <img src="../../assets/image/servicre-inner/web-design-mg4.webp" width="100%" alt="web-design-mg" ngxSlickItem>
                </ngx-slick-carousel>
            </div>
            <div class="slider-right-text">
                <div class="slide-text-r slide-text-one flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r1.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">E-Commerce Website Design</h3>
                </div>
                <div class="slide-text-r slide-text-two flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r2.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Graphic Design</h3>
                </div>
                <div class="slide-text-r slide-text-three flex-center">
                    <div class="side-img">
                        <img src="../../assets/image/servicre-inner/web-design-r3.webp" width="100%" alt="asdf">
                    </div>
                    <h3 class="side-txt">Mobile-First Design</h3>
                </div>
            </div>
        </div>
    </div>
</section>